{% extends 'base.html' %}
{% block title %}
Skiptracing
{% endblock title %}


{% block content %}
{% load static %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Foreclosure Section               End -->
<div style="margin-top: 20px;" class="body-section">
    <div class="section-header">
        {% if contact_selected == "" %}
        <h4>Create Contact</h4>
        {% else %}
        <h4>Update Contact</h4>
        {% endif %}
        <div>
        {% if researcher %}
        <a class="headerbutton" href="{% url 'skiptracing_checklist' %}">Skiptracing Checklist</a>
        {% endif %}
        <a class="headerbutton" href="{% url 'skiptrace' %}">Create New Contact</a>
        </div>
    </div>
    <div class="section-body-full">
        <form method="post" action="{% url 'create_update_contact' %}">
            {% csrf_token %}
            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">       
            <label>Contact Name</label><br>
            <input type="text" name="prefix" id="prefix" placeholder="Prefix" value="{{current_con_instance.name_prefix}}">
            <input type="text" name="f_name" id="f_name" placeholder="First Name" value="{{current_con_instance.first_name}}">
            <input type="text" name="m_name" id="m_name" placeholder="Middle Name" value="{{current_con_instance.middle_name}}">
            <input type="text" name="l_name" id="l_name" placeholder="Last Name" value="{{current_con_instance.last_name}}">
            <input type="text" name="suffix" id="suffix" placeholder="Suffix" value="{{current_con_instance.suffix}}"></br>
            <label>Business Name</label><br>
            <input type="text" style="width:600px;" name="b_name" id="b_name" placeholder="Business Name" value="{{current_con_instance.business_name}}">
            <input type="text" name="designation" id="designation" placeholder="Designation" value="{{current_con_instance.designation}}">              
            <input type="submit" style="margin-top:20px;" value="{% if contact_selected == "" %}Create Contact Instance{% else %}Update Contact{% endif %}">
        </form>
    </div>
    <div class="section-body-full">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Business Name</th>
                    <th>Mailing Address</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody id="con-results">
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Function to fetch and update search results
        function conResults() {
            const prefix = $('#prefix').val();
            const fName = $('#f_name').val();
            const mName = $('#m_name').val();
            const lName = $('#l_name').val();
            const suffix = $('#suffix').val();
            const business = $('#b_name').val();

            $.ajax({
                url: "{% url 'filter-con' %}",
                data: {
                    prefix: prefix,
                    f_name: fName,
                    m_name: mName,
                    l_name: lName,
                    suffix: suffix,
                    b_name: business,
                },
                success: function (data) {
                    const contact = data.contact;
                    const conresultcontainer = $('#con-results');
                    conresultcontainer.empty();

                    if (contact.length > 0) {
                        contact.forEach(contact => {
                            let mailingAddressesHtml = '';
                            if (contact.mailing_addresses.length > 0) {
                                mailingAddressesHtml = contact.mailing_addresses.join('<br>'); // Join addresses with <br> for display
                            } else {
                                mailingAddressesHtml = 'No Mailing Address';
                            }
                            conresultcontainer.append(`
                            <tr>
                                <td>${contact.name_prefix} ${contact.first_name} ${contact.middle_name} ${contact.last_name} ${contact.name_suffix}</td>
                                <td>${contact.business_name}</td>
                                <td>${mailingAddressesHtml}</td>
                                <td>
                                    <form method="get" action="{% url 'skiptrace' %}">
                                        <input type="hidden" name="con_id" value="${contact.id}">
                                        <input type="submit" value="Edit">
                                    </form>
                                </td>
                            </tr>

                            `);
                        });
                    } else {
                        conresultcontainer.append('<tr><th colspan="4"><center>No Contact Record found</center></th></tr>');
                    }
                }
            });
        }
        // Trigger AJAX call on input change
        $('#prefix, #f_name, #m_name, #l_name, #suffix, #b_name').on('input', conResults);
    });
</script>

<!--Foreclosure Section               End -->

<!--Mailing Address Section               Start -->
<div style="margin-top: 20px;" class="body-section">
    <div id="mailing_address" class="section-header">
        <h4>Mailing Addresses</h4>
        <form method="post" action="{% url 'fetch_mailing_address' %}">
        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
        <td><input type="submit" value="Fetch Mailing Address"></td>
        <form>
    </div>

    <div class="section-body-full">
        <table class="table table-striped table-hover">
            <thead>
                <tr>                   
                    <th>County</th>
                    <th>Parcel ID</th>
                    <th>House</th>
                    <th>Street</th>
                    <th>Type</th>
                    <th>Dir</th>
                    <th>A/U/B</th>
                    <th>Ext</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Action</th>
                </tr>
            <thead>    
            <tbody>
                {% for prop in all_mailing %}
                <tr>
                    <form id="search-form" method="post" action="{% url 'update_contact' %}">
                        {% csrf_token %}
                        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                        <input type="hidden" name="propid" value="{{ prop.pk }}">
                        <td><input style="width: 120px; " type="text" id="county" placeholder="County" value="{{prop.county}}" name="county"></td>
                        <td><input style="width: 170px;" type="text" id="parcel" placeholder="Parcel" value="{{prop.parcel}}" name="parcel"></td>
                        <td><input style="width: 80px;" type="text" id="house" placeholder="House" value="{{prop.house_number}}" name="house"></td>
                        <td><input style="width: 150px;" type="text" id="street" placeholder="Street" value="{{prop.road_name}}" name="road"></td>
                        <td><input style="width: 70px;" type="text" id="sttype" placeholder="Type" value="{{prop.road_type}}" name="type"></td>
                        <td><input style="width: 70px;" type="text" id="dir" placeholder="Dir" value="{{prop.direction}}" name="dir"></td>
                        <td><input style="width: 70px;" type="text" id="apt" placeholder="A/B/U" value="{{prop.apt_unit}}" name="apt"></td>
                        <td><input style="width: 70px;" type="text" id="ext" placeholder="Ext" value="{{prop.extention}}" name="ext"></td>
                        <td><input style="width: 120px;" type="text" id="city" placeholder="City" value="{{prop.city}}" name="city"></td>
                        <td><input style="width: 120px;" type="text" id="state" placeholder="State" value="{{prop.state}}" name="state"></td>                      
                        <td><input style="width: 70px;" type="text" id="zip" placeholder="Zip" value="{{prop.zip_code}}" name="zip"></td>
                        <td><input type="submit" value="Update" ></td>
                    </form>
                </tr>
                {% endfor %}
                <tr>
                    <form id="search-form" method="post" action="{% url 'search_create_property' %}">
                        {% csrf_token %}
                        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                        <td><input style="width: 120px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="icounty" placeholder="County" name="county"></td>
                        <td><input style="width: 170px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="iparcel" placeholder="Parcel" name="parcel"></td>
                        <td><input style="width: 80px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="ihouse" placeholder="House" name="house"></td>
                        <td><input style="width: 150px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="istreet" placeholder="Street" name="road"></td>
                        <td><input style="width: 70px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="isttype" placeholder="Type" name="type"></td>
                        <td><input style="width: 70px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="idir" placeholder="Dir" name="dir"></td>
                        <td><input style="width: 70px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="iapt" placeholder="A/B/U" name="apt"></td>
                        <td><input style="width: 70px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="iext" placeholder="Ext" name="ext"></td>
                        <td><input style="width: 120px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="icity" placeholder="City" name="city"></td>
                        <td><input style="width: 120px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="istate" placeholder="State" name="state"></td>                      
                        <td><input style="width: 70px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="izip" placeholder="Zip" name="zip"></td>
                        <td><input type="submit" style="border: 2px solid #08c88e;" Value="Create"></td>
                    </form>
                </tr>
            </tbody>
            <tbody id="address-results">
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Function to fetch and update search results
        function fetchResults() {
            const parcel = $('#iparcel').val();
            const state = $('#istate').val();
            const county = $('#icounty').val();
            const house = $('#ihouse').val();
            const street = $('#istreet').val();
            const sttype = $('#isttype').val();

            $.ajax({
                url: "{% url 'ajax_search' %}",
                data: {
                    parcel: parcel,
                    state: state,
                    county: county,
                    house: house,
                    street: street,
                    sttype: sttype
                },
                success: function (data) {
                    const address = data.address;
                    const resultsContainer = $('#address-results');
                    const state_rc = $('#state_rc');
                    resultsContainer.empty();

                    if (address.length > 0) {
                        address.forEach(address => {
                            resultsContainer.append(`

                            <tr>
                                <td>${address.county}</td>
                                <td>${address.parcel}</td>
                                <td>${address.house_number}</td>
                                <td>${address.road_name}</td>
                                <td>${address.road_type}</td>
                                <td>${address.direction}</td>
                                <td>${address.apt_unit}</td>
                                <td>${address.extention}</td>
                                <td>${address.city}</td>
                                <td>${address.state}</td>
                                <td>${address.zip_code}</td>
                                <td>
                                    <form method="post" action="{% url 'add_mailing'%}">
                                    {% csrf_token %}
                                    <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                                    <input type="hidden" name="property_id" value="${address.id}">
                                    <input type="submit" value="Add" onclick="this.form.submit()">
                                    </form>
                                </td>
                            </tr>
                            
                                `);
                        });
                    } else {
                        resultsContainer.append('<tr><th colspan="12"><center>No Such Address Found!</center></th></tr>');
                    }
                }
            });
        }

        // Trigger AJAX call on input change
        $('#iparcel, #istate, #icounty, #ihouse, #istreet, #isttype').on('input', fetchResults);
    });
</script>

<!--Mailing Address Section               End -->


<!--Email section-start-->

    <div style="margin-top:20px;" class="body-section onethird">
        <div id="em" class="section-header">
            <h4>Emails</h4>
        </div>
        <div class="section-body-full">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>                   
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in all_email %}
                    <tr>
                        <form method="post" action="{% url 'update_email' %}">
                            {%csrf_token%}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <input type="hidden" name="email_id" value="{{ email.pk }}">
                            <td><input style="width: 290px;" type="text" placeholder="Email" name="email" value="{{email.email_address}}"></td>
                            <td><input type="submit" value="Update"></td>
                        </form>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: #fff;">
                        <form id="search-form" method="post" action="{% url 'search_create_email' %}">
                            {% csrf_token %}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <td><input style="width: 290px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="email" placeholder="Email Address" name="email"></td>
                            <td><input style="border: 2px solid #08c88e;" type="submit" value="Create"></td>
                        </form>
                    </tr>
                </tbody>
                <tbody id="email-results">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Function to fetch and update search results
            function fetchemail() {
                const email = $('#email').val();
                
                $.ajax({
                    url: "{% url 'filteremail' %}",
                    data: {
                        email: email,
                    },
                    success: function (data) {
                        const emails = data.emails;
                        const emailresultsContainer = $('#email-results');

                        emailresultsContainer.empty();

                        if (emails.length > 0) {
                            emails.forEach(emails => {
                                emailresultsContainer.append(`

                                <tr>
                                    <td>${emails.email_address}</td>
                                    <td>
                                        <form method="post" action="{% url 'add_email' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                                        <input type="hidden" name="email_id" value="${emails.id}">
                                        <input type="submit" value="Add" onclick="this.form.submit()">
                                        </form>
                                    </td>
                                </tr>
                                    `);
                            });
                        } else {
                            emailresultsContainer.append('<tr><th colspan="2"><center>Email Not Found!</center></th></tr>');
                        }
                    }
                });
            }

            // Trigger AJAX call on input change
            $('#email').on('input', fetchemail);
        });
    </script>


    <!--Email section-end-->

    <!--Wireless section-start-->

    <div style="margin-top:20px;" class="body-section onethird">
        <div id="wn" class="section-header">
            <h4>Wireless Numbers</h4>   
        </div>
        <div class="section-body-full">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Wireless Numbers</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wireless in all_wireless %}
                    <tr>
                        <form method="post" action="{% url 'update_wireless' %}">
                            {%csrf_token%}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <input type="hidden" name = "wireless-id" value="{{wireless.id}}">
                            <td><input style="width: 290px;" type="text" placeholder="Wireless" name="wireless" value="{{wireless.w_number}}"></td>
                            <td><input type="submit" value="Update"></td>
                        </form>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: #fff;">
                        <form id="search-form" method="post" action="{% url 'create_wireless' %}">
                            {% csrf_token %}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <td><input style="width: 290px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="wireless" placeholder="Wireless Number" name="wireless"></td>
                            <td><input style="border: 2px solid #08c88e;" type="submit" value="Create"></td>
                        </form>
                    </tr>
                </tbody>
                <tbody id="wireless-results">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Function to fetch and update search results
            function fetchwireless() {
                const wireless = $('#wireless').val();
                

                $.ajax({
                    url: "{% url 'filterwireless' %}",
                    data: {
                        wireless: wireless,

                    },
                    success: function (data) {
                        const wireless = data.wireless;
                        const wirelessresultsContainer = $('#wireless-results');

                        wirelessresultsContainer.empty();

                        if (wireless.length > 0) {
                            wireless.forEach(wireless => {
                                wirelessresultsContainer.append(`

                                <tr>
                                    <td>${wireless.w_number}</td>
                                    <td>
                                        <form method="post" action="{% url 'add_wireless'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                                        <input type="hidden" name="wireless-id" value="${wireless.id}">
                                        <input type="submit" value="Add" onclick="this.form.submit()">
                                        </form>
                                    </td>
                                </tr>
                                
                                    `);
                            });
                        } else {
                            wirelessresultsContainer.append('<tr><th colspan="2"><center>No Wireless Number Found!</center></th></tr>');
                        }
                    }
                });
            }

            // Trigger AJAX call on input change
            $('#wireless').on('input', fetchwireless);
        });
    </script>
    <!--Wireless section-end-->



    <!--Landline section-start-->
    <div style="margin-top:20px;" class="body-section onethird">
        <div id="ln" class="section-header">
            <h4>Landline Numbers</h4>   
        </div>
        <div class="section-body-full">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Landline Numbers</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for landline in all_landline %}
                    <tr>
                        <form method="post" action="{% url 'update_landline' %}">
                            {%csrf_token%}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <input type="hidden" name = "landline-id" value="{{landline.id}}">
                            <td><input style="width: 290px;" type="text" placeholder="Landline Number" name="landline" value="{{landline.l_number}}"></td>
                            <td><input type="submit" value="Update"></td>
                        </form>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: #fff;">
                        <form id="search-form" method="post" action="{% url 'create_landline' %}">
                            {% csrf_token %}
                            <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                            <td><input style="width: 290px; border: 2px solid #08c88e; background-color: #54ff001f" type="text" id="landline" placeholder="Landline Number" name="landline"></td>
                            <td><input style="border: 2px solid #08c88e;" type="submit" value="Create"></td>
                        </form>
                    </tr>
                </tbody>
                <tbody id="landline-results">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Function to fetch and update search results
            function fetchlandline() {
                const landline = $('#landline').val();
                

                $.ajax({
                    url: "{% url 'filter_landline' %}",
                    data: {
                        landline: landline,

                    },
                    success: function (data) {
                        const landline = data.landline;
                        const landlineresultsContainer = $('#landline-results');

                        landlineresultsContainer.empty();

                        if (landline.length > 0) {
                            landline.forEach(landline => {
                                landlineresultsContainer.append(`

                                <tr>
                                    <td>${landline.l_number}</td>
                                    <td>
                                        <form method="post" action="{% url 'add_landline' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="con_id" value="{{ current_con_instance.pk }}">
                                        <input type="hidden" name="landline-id" value="${landline.id}">
                                        <input type="submit" value="Add" onclick="this.form.submit()">
                                        </form>
                                    </td>
                                </tr>
                                
                                    `);
                            });
                        } else {
                            landlineresultsContainer.append('<tr><th colspan="2"><center>No Landline Number Found!</center></th></tr>');
                        }
                    }
                });
            }

            // Trigger AJAX call on input change
            $('#landline').on('input', fetchlandline);
        });
    </script>
    <!--Landline section-start-->


{% endblock content %}