{% extends 'base.html' %}
{% block content%}
<div class="container">
    <h1>Property Data</h1>
    <ul class="list-group">
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>


    </ul>

</div>

{% endblock content%}