{% extends 'base.html' %}

{% block content%}
{% load static %}
<link href="{% static 'css/propertydata.css' %}" rel="stylesheet">
<div class="container">
    <div class="filters">
        <h6>Filter Data</h6>




    </div>
    <h1>Property Data</h1>
    <ul class="list-group">
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>
        <li class="List-group-item">123 example avenue</li>


    </ul>

</div>

{% endblock content%}