{% extends 'base.html' %}
{% block title %}
My Leads
{% endblock title %}


{% block content%}
{% load static %}
<link href="{% static 'css/propertydata.css' %}" rel="stylesheet">
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css"> -->

<div class="container">
    <div class="container">
        <div class="filter-section">
            <div class="filters-header">
                <h1>My Leads | SurplusIndex</h1>
                <button id="toggle-filters" class="toogle-button"
                    onclick="toggleFilters(this.id, 'filter-section')">Hide Filters</button>
            </div>

            <div class="filter-body" id="filter-section" style="display: flex;">
                <div style=" width: 35%; display: inline-block;">
                    <h6>Filter Leads</h6>
                    <div class="filter-item">
                        <label for="state-filter">State:</label>
                        <select id="state-filter">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="county-filter">County:</label>
                        <select id="county-filter">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="saletype-filter">Sale Type:</label>
                        <select id="saletype-filter">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <!-- Range Slider Filter -->
                <div style="width: 50%; display: inline-block;">
                    <h6>Amount Filters</h6>
                    <div class="filter-item">
                        <div class="range-section">
                            <label style="padding: 0px !important;">Sale Price:</label>
                            <label>Min <span id="range-min">1000</span></label>
                            <div id="range-slider"></div>
                            <label>Max <span id="range-max">1000000</span></label>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="range-section">
                            <label style="padding: 0px !important;">Possible Surplus:</label>
                            <label>Min <span id="possible-min">1000</span></label>
                            <div id="possible-range-slider"></div>
                            <label>Max <span id="possible-max">1000000</span></label>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="range-section">
                            <label style="padding: 0px !important;">Verified Surplus:</label>
                            <label>Min <span id="verified-min">1000</span></label>
                            <div id="verified-range-slider"></div>
                            <label>Max <span id="verified-max">1000000</span></label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form id="add-to-myleads" method="POST" action="{% url 'buy-leads' %}">
            {% csrf_token %}
            <div class="table-wrapper">
                <div class="action-section">
                    <button style="display: none;" class="button" id="add-button" disabled="disabled" type="submit">
                        Add <span id="selected-count">0</span> to My Leads</button>
                </div>
                <div class="action-section">
                    <button onclick="return confirmArchive()" class="button" id="hide-button" disabled="disabled"
                        type="submit" formaction="{% url 'archive' %}">
                        Move <span id="selected-count-hide">0</span> to archive</button>
                </div>
                <table id="leads-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>State</th>
                            <th>County</th>
                            <th>Sale Date</th>
                            <th>Sale Type</th>
                            <th>Call Status</th>
                            <th>Agreement Status</th>
                            <th>Claim Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads %}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="selected_items" value="{{ lead.id }}">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td class="state">{{lead.lead.state}}</td>
                            <td class="county">{{lead.lead.county}}</td>
                            <td>{{lead.lead.sale_date}}</td>
                            <td class="saletype">{{lead.lead.sale_type}}</td>
                            <td>{{ lead.call_status }}</td>
                            <td>{{ lead.agreement_status }}</td>
                            <td>{{ lead.claim_status }}</td>
                            <!-- <td class="amount">{{i.sale_price}}</td>
                            <td class="possible-surplus">{{i.possible_surplus}}</td>
                            <td class="verified-surplus">{{i.verified_surplus}}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing Page <b>{{ leads.number }}</b> out of <b>
                            {{ leads.paginator.num_pages }}</b> Pages</div>
                    <ul class="pagination">
                        {% if leads.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                        <li class="page-item"><a href="?page={{ leads.previous_page_number }}">Previous</a></li>
                        <li class="page-item"><a href="?page={{ leads.previous_page_number }}" class="page-link">
                                {{ leads.previous_page_number }}</a></li>
                        {% endif %}


                        <li class="page-item active"><a href="#" class="page-link">{{ leads.number }}</a></li>



                        {% if leads.has_next %}
                        <li class="page-item"><a href="?page={{ leads.next_page_number }}" class="page-link">
                                {{ leads.next_page_number }}</a></li>
                        <li class="page-item"><a href="?page={{ second_previous }}" class="page-link">
                                {{ second_previous }}</a></li>
                        <li class="page-item"><a href="?page={{leads.next_page_number}}" class="page-link">Next</a></li>
                        <li class="page-item"><a href="?page={{ leads.paginator.num_pages }}">Last</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </form>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script> -->
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/leads.js' %}"></script>
</div>

{% endblock content%}