{% extends 'base.html' %}
{% block title %}
Manage Projects
{% endblock title %}

{% block content %}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/admin.css' %}" rel="stylesheet">
<meta name="csrf-token" content="{{ csrf_token }}">
{% if not selected_project %}
<h1>Manage Projects</h1>
<div class="onethird section">
    <h2>Create New Project</h2>
    <form method ="POST" action="{% url 'create_project' %}">
    {% csrf_token %}
        <label for="pr_name" >Project Name</label></br>
        <input type="text" id="pr_name" name="pr_name" style="width:100%"></br></br>
        
        <label for="pr_state">Project State</label></br>
        <input type="text" id="pr_state" name="pr_state" placeholder="Exact State Name as Foreclosure Leads" style="width:100%"></br></br>
        
        <label for="pr_saletype">Project Sale Type</label></br>
        <input type="text" id="pr_saletype" name="pr_saletype" placeholder="Exact Sale Type as Foreclosure Leads" style="width:100%"></br></br>

        <label for="pr_plan">Assiciated Subscription Plan</label></br>
        <select name="pr_plan" id="pr_plan" style="width:100%;">
            <option value="">Select Plan for Project</option>
            {% for plan in plans %}
            <option value="{{plan.id}}">{{plan.name|title}}</option>
            {% endfor %}
        </select></br></br>
        

        <label for="pr_description" >Project Description</label></br>
        <input type="text" name="pr_description" id="pr_description" style="width:100%;"></br></br>
        
        <input type="submit" class="primary-btn"></br>
    </form>
</div>
<div class="onethird section">
    <h2>Select Project</h2>
    <form method="POST">
    {% csrf_token %}
        
        <select id="project" name="project" onchange="this.form.submit()" style="width:100%;">
            <option>Select Project</option>
            {% for project in projects %}
            <option value="{{project.id}}" {% if selected_project == project.id %}selected{% endif %}>{{project.name|upper}}</option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="onethird section">
<h2>Navigate</h2>
</div>
{% else %}
<div>
<h1 style="display: inline-block;">{{project_instance.name|upper}}</h1>

<a href="{% url 'project_manager' %}" style="float:right"><i class="bi bi-x-circle-fill" style="color:#c22323; font-size:25px; margin:0px 3px;"></i></a>
<a href="#" style="float:right"><i class="bi bi-question-circle-fill" style="color:orange; font-size:25px; margin:0px 3px;"></i></a>
</div>
<div class="section-body-full">
    <div class="section-header">
    <h4>Update Cycle</h4>
        <div>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{project_instance.id}}" name="project">
            <select name="cycle-year" onchange="this.form.submit()">
            {% for year in years %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}

            </select>
        </form>
        </div>
    </div>
    <div class="section-body-full">
    {% if load_cycles.count > 0 %}
        {% for cycle in load_cycles %}
        <a href="/Project-Manager/get-tasks/{{ cycle.id }}/" class="cycle-icon {% if cycle.status == 'running' %}running{% elif cycle.status == 'active' %}active{% elif cycle.status == 'completed' %}completed{% endif %}" data-cycle-id="{{ cycle.id }}">
            <h4>{{ cycle.week }}</h4>
        </a>
        {% endfor %}    
    {% else %}
    <p>No Update Cycle Found</p>
    <form method="POST" action="{% url 'create_cycles' %}">
    {% csrf_token %}
        <input type="hidden" name="project" value="{{selected_project}}">
        <input type="hidden" name="cycle-year" value="{{selected_year}}">
        <input type="submit" value="Create Update Cycles for the Year {{selected_year}}">
    </form>
    {% endif %}
    </div>
</div>
{% if selected_cycle %}
<div class="section-body-full" style="margin-top:20px;">
    <div class="section-header">
        <h4>Week {{cycle_instance.week}} | {{cycle_instance.year}} <small>({{cycle_instance.cycle_start|date:'m/d/Y'}}-{{cycle_instance.cycle_end|date:'m/d/Y'}})</small></h4>
    </div>
    <div class="section-body-full">
    {% if tasks.count > 0 %}
        {% for task in tasks %}
        <div class="task-section {{ task.css_class }}">
        {% comment %} <div class="task-section {% if task.delivery_date < today and task.status != "delivered"%}delivery-due{% elif task.status == "delivered"%}delivered{% elif task.status == "assigned" %}assigned{% elif task.status == "created" %}created{% endif %}"> {% endcomment %}
            <div class="onehalf">
                <h4>{{task.task_name}}</h4>
                <h6>Sale Range: {{task.cycle.sale_from|date:'m/d/Y'}}-{{task.cycle.sale_to|date:'m/d/Y'}}</h6>
                <p>{{task.description}}</p>

            </div>
            <div class="onefourth" style="border-left:2px solid grey; padding:0px 20px;">
                <h6 style="text-align:left">Assigned To</h6>
                {% for user in task.template.assigned_to.all %}
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="assigned_to_user_{{ user.id }}" onchange="update_assignment({{ user.id }}, {{ task.id }})" {% if user in task.assigned_to.all %} checked {% endif %}>
                    <label id="assign_label_{{ user.id }}_{{ task.id }}">{{ user.username|upper }} </label><span id="assign_status_{{ user.id }}_{{ task.id }}"></span><br>
                </div>
                {% endfor %}
                    
                
            </div>
            <div class="onefourth">
                <label for="update_status_{{ task.id }}">Update Status</label></br>
                <select id="update_status_{{ task.id }}" name="update_status" style="width:100%; margin-bottom:10px;" onchange="update_task_status({{ task.id }})">
                    <option value="created" {% if task.status == "created" %}selected{% endif %}>Created</option>
                    <option value="assigned" {% if task.status == "assigned" %}selected{% endif %}>Assigned</option>
                    <option value="delivered" {% if task.status == "delivered" %}selected{% endif %}>Delivered</option>
                    <option value="completed" {% if task.status == "completed" %}selected{% endif %}>Completed</option>
                </select>
                <form method="POST" action="{% url 'task_viewer' %}" target="_blank">
                {% csrf_token %}
                    <input type="hidden" value="{{task.id}}" name="task">
                    <input type="submit" value="View Task">
                </form>
            </div>
            <div class="section-body-full">
                <div class="onefifth" style="border-right:1px solid #939c9eff">
                <h6>Started</br><span>{{task.date_assigned|date:'m/d/Y'}}</span></h6>
                
                </div>
                <div class="onefifth" style="border-right:1px solid #939c9eff">
                    <h6 {% if task.delivery_date < today and task.status != "delivered" and task.status != "completed" %}style="color:red;"{% endif %}>Ending</br><span>{{ task.delivery_date|date:"m/d/Y" }}</span></h6>
                </div>
                <div class="onefifth" style="border-right:1px solid #939c9eff">
                <h6>Case Searched</br><span>{{case_searched.count|digits:3}} of {{leads.count|digits:3}}</span></h6>
                </div>
                <div class="onefifth" style="border-right:1px solid #939c9eff">
                <h6>Skiptraced</br><span>{{skiptraced.count|digits:3}} of {{contacts.count|digits:3}}</span></h6>
                </div>
                <div class="onefifth">
                <h6>Published</br><span>{{published.count|digits:3}} of {{leads.count|digits:3}}</span></h6>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>No tasks found for this cycle.</p>
    <form method="POST" action="/Project-Manager/load-tasks/">
        {% csrf_token %}
        <input type="hidden" name="cycle" value="{{selected_cycle}}">
        <input type="hidden" name="project" value="{{selected_project}}">
        <input type="hidden" name="year" value="{{selected_year}}">
        <input type="submit" value="Load Task Events">
    </form>
    {% endif %}
    </div>
</div>

{% endif %}


{% endif %}
<script src="{% static 'js/ProjectManager.js' %}"></script>
<script src="{% static 'js/Surplusindex.js' %}"></script>

{% endblock content %}