{% extends 'base.html' %}
{% block title %}
Project Dashboard
{% endblock title %}


{% block content%}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/client.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="body-section">
    <div class="client-sec-header" style="margin-top:0px;">
        <h4>Filter Surplus Data</h4>
        <button id="toggle-filters" class="icon-button" data-url="{% url 'update-show-hide-setting' %}" onclick="Toggle_and_Save(this.id, 'filters', 'alldata_show_filter', event)" style="padding: 2px 7px;"><i class="bi bi-eye-slash"></i></button>
    </div>

    <div class="filter-section" id="filters" style="display:{% if client_settings.alldata_show_filter %}block{% else %}none{% endif %};">
        <form method="post">
        {% csrf_token %}
            <div style="width: 99%;">
                <h4>General Filters</h4></br>
                <div class="filter-item-section">
                    <div class="onefourth">
                        <label for="stateFilter">Select State</label><br>
                        <select id="stateFilter" name="stateFilter" onchange="this.form.submit()" style="width:100%;">
                            <option value="" {% if selectedState == "" %}selected{% endif %}>--- Select State ---</option>
                            {% for state in states %}
                            {% if not state == "" %}
                            <option value="{{state}}" {% if state == selectedState %}selected{% endif %}>{{state|upper}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefourth">
                        <label for="countyFilter">Select County</label><br>
                        <select id="countyFilter" name="countyFilter" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %} style="width:100%;">
                            <option value="">All</option>
                            {% for county in counties %}
                            <option value="{{county}}" {% if county == selectedCounty %}selected{% endif %}>{{county|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefourth">
                        <label for="saletypeFilter">Sale Type</label><br>
                        <select id="saletypeFilter" name="saletypeFilter" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %} style="width:100%;">
                            <option value="">All</option>
                            {% for saletype in saletypes %}
                            <option value="{{saletype}}" {% if saletype == selectedSaletype %}selected{% endif %}>{{saletype|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefourth">
                        <label for="published">Published</label><br>
                        <select id="published" name="published" onchange="this.form.submit()"style="width:100%;">
                            <option value="">All</option>
                            <option value="true" {% if published == "true" %}selected{% endif %}>Published</option>
                            <option value="false" {% if published == "false" %}selected{% endif %}>Unpublished</option>
                        </select>
                    </div></br></br>
                    <div class="onefourth">
                        <label for="case_number">Case Number</label><br>
                        <input type="text" placeholder="Case Number" name="case_number" onchange="this.form.submit()" style="width:100%;"><br>
                    </div>
                    
                    <div class="onefourth">
                        <label for="case_number">Property Address</label><br>
                        <input type="text" placeholder="Address" name="address" onchange="this.form.submit()" style="width:100%;"><br>
                    </div>
                    <div class="onefourth">
                        <label for="defendant">Defendant</label><br>
                        <input type="text" placeholder="Defendant" name="defendant" onchange="this.form.submit()" style="width:100%;"><br>
                    </div>
                    <div class="onefourth">
                        <label for="plaintiff">Plaintiff</label><br>
                        <input type="text" placeholder="Plaintiff" name="plaintiff" onchange="this.form.submit()" style="width:100%;"><br>
                    </div>
                </div>
            </div>
            {% if selectedState %}
            <div style="width: 99%;">
                <h4>Advanced Filters</h4></br></br>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Sale Date Filter Options</h5></br></br>
                        <div class="onehalf">
                            <label>From</label></br>
                            <input type="date" name="sale_from" on {% if saleFROM %}value="{{saleFROM}}"{% endif %} style="width:90%">
                        </div>
                        
                        <div class="onehalf">
                            <label>To</label></br>
                            <input type="date" name="sale_to"  {% if saleTO %}value="{{saleTO}}"{% endif %} style="width:90%">
                        </div>

                        <label>Year</label></br>
                        <select name="sale_date_year" onchange="this.form.submit()" style="width:100%">
                            <option value="">Select Sale Year</option>
                            {% for year in years reversed %}
                            <option value="{{year}}" {% if saledateYear == year %}selected{% endif %}>{{year}}</option>
                            {% endfor %}
                        </select>
                        </br>
                        <label>Month</label></br>
                        <select name="sale_date_month" onchange="this.form.submit()" style="width:100%">
                            <option value="">Select Sale Month</option>
                            {% for num, name in months %}
                                <option value="{{ num }}" {% if saledateMonth == num %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                        </br>
                        <label>Order By</label></br>
                        <select name="sale_date_order" onchange="this.form.submit()" style="width:100%">
                            <option value="">Sale Date Order</option>
                            <option value="-sale_date"{% if saledateOrder == '-sale_date' %}selected{% endif %}>Newest First</option>
                            <option value="sale_date"{% if saledateOrder == 'sale_date' %}selected{% endif %}>Oldest First</option>
                        </select>
                    </div>
                </div>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Sale Status</h5></br></br>

                        <input type="checkbox" name="sale_status_active" value="Active" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusACTIVE == "Active" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Active</label></br>

                        <input type="checkbox" name="sale_status_sold" value="Sold" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusSOLD == "Sold" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Sold</label></br>

                        <input type="checkbox" name="sale_status_unsold" value="Unsold" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusUNSOLD == "Unsold" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Unsold</label></br>

                        <input type="checkbox" name="sale_status_soldtoplaintiff" value="Sold To Plaintiff" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusSOLDTOPLT == "Sold To Plaintiff" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Sold To Plaintiff</label></br>

                        <input type="checkbox" name="sale_status_bankruptcy" value="Bankruptcy Hold" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusBANKRUPTCY == "Bankruptcy Hold" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Bankruptcy Hold</label></br>
                        
                        <input type="checkbox" name="sale_status_canceled" value="Cancelled" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusCANCELED == "Cancelled" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Cancelled</label></br>

                    </div></br>
                </div>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Surplus Status</h5></br></br>
                    
                        <input type="checkbox" name="status_nd" value="Not Determined" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusND == "Not Determined" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Not Determined</label></br>

                        <input type="checkbox" name="status_ps" value="Possible Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusPS == "Possible Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Possible Surplus</label></br>

                        <input type="checkbox" name="status_nps" value="No Possible Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusNPS == "No Possible Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">No Possible Surplus</label></br>

                        <input type="checkbox" name="status_fa" value="Fund Available" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusFA == "Fund Available" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Fund Available</label></br>

                        <input type="checkbox" name="status_mf" value="Motion Filed" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusMF == "Motion Filed" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Motion Filed</label></br>

                        <input type="checkbox" name="status_fc" value="Fund Claimed" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusFC == "Fund Claimed" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Fund Claimed</label></br>

                        <input type="checkbox" name="status_ns" value="No Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusNS == "No Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">No Surplus</label></br>
                    </div>
                </div>
            </div></br>
            
            <button type="submit" style="display:none"></button>
            {% endif %}
            </form>
        </div>
    <div class="client-sec-header" style="margin-top:20px;">
        <h4>{{total_leads}}</h4>
        <a href="{% url 'download_dashboard_leads' %}?{{ request.GET.urlencode }}" class="btn btn-success">Download Excel</a>
        {% comment %} <a href="{% url 'download_dashboard_leads' %}?{{ request.GET.urlencode }}" class="button">Download</a> {% endcomment %}
    </div>
    <div class="section-body-full">
        <form id="add-to-myleads" method="POST" action="{% url 'purchaseLeads' %}">
            {% csrf_token %}
            <div class="action-section">
                <input type="hidden" name="unhide" value={{showHidden}}>
                <input type="hidden" name="stateFilter" value={{selectedState}}>
                <input type="hidden" name="countyFilter" value={{selectedCounty}}>
                <input type="hidden" name="saletypeFilter" value={{selectedSaletype}}>
                <input type="hidden" name="ps_min" value={{psmin}}>
                <input type="hidden" name="vs_min" value={{vsmin}}>
                
            </div>
            <div class="table-wrapper" style="max-height:600px;">
                <table id="leads-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span>
                                <input type="checkbox" id="selectAll" style="width:20px;">
                                </span>
                            </th>
                            <th>Updated</th>
                            <th>State</th>
                            <th>County</th>
                            <th>Case Number</th>
                            <th>Sale Date</th>
                            <th>Sale Type</th>
                            <th>Sale Status</th>
                            <th>Appr Value</th>
                            <th>Judgment</th>
                            <th>Sale Price</th>
                            <th>Possible Surplus</th>
                            <th>Verified Surplus</th>
                            <th>Surplus Status</th>
                            <th>Published</th>
                            <th>Edit</th>
                            <th>Assign Skp</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if selectedState == "" %}
                        <tr>
                            <td colspan=9>Please select a State to load data</td>
                        <tr>
                    {% else %}
                        {% for i in leads %}

                        <tr>
                            <td class="{% if current_user in i.hidden_for.all %}highlight-row{% endif %}">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox" class="checkbox" name="selected_items" value="{{ i.id }}">
                                    <label for="checkbox"></label>
                                </span>
                            </td>
                            <td>{{i.changed_at|date:'m/d/Y'}}</td>
                            <td>{{i.state|title}}</td>
                            <td>{{i.county|title}}</td>
                            {% comment %} <td>{{i.case_number}}</td> {% endcomment %}
                            <td><input type="text" onchange="saveField('{{ i.id }}', 'case_number', this)" value="{{ i.case_number }}"></td>
                            <td>{{i.sale_date|date:'m/d/Y'}}</td>
                            <td>{{i.get_sale_type_display}}</td>
                            <td>
                                <select onchange="saveField('{{ i.id }}', 'sale_status', this)">
                                    <option>No Status</option>
                                    <option value="Active" {% if i.sale_status == "Active" %}selected{% endif %}>Active</option>
                                    <option value="Sold" {% if i.sale_status == "Sold" %}selected{% endif %}>Sold</option>
                                    <option value="Unsold" {% if i.sale_status == "Unsold" %}selected{% endif %}>Unsold</option>
                                    <option value="Sold To Plaintiff" {% if i.sale_status == "Sold To Plaintiff" %}selected{% endif %}>Sold to Plaintiff</option>
                                    <option value="Bankruptcy Hold" {% if i.sale_status == "Bankruptcy Hold" %}selected{% endif %}>Bankruptcy</option>
                                    <option value="Cancelled" {% if i.sale_status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" step="0.01" min="-9999999999" max="9999999999" onchange="saveField('{{ i.id }}', 'appraised_value', this)" {% if i.appraised_value %} value="{{i.appraised_value}}"{% endif %}>
                            </td>
                            {% comment %} <td>{{i.get_sale_status_display}}</td> {% endcomment %}
                            <td>
                                <input type="number" step="0.01" min="-9999999999" max="9999999999" onchange="saveField('{{ i.id }}', 'fcl_final_judgment', this)" {% if i.fcl_final_judgment %} value="{{i.fcl_final_judgment}}"{% endif %}>
                            </td>
                            <td>
                                <input type="number" step="0.01" min="-9999999999" max="9999999999" onchange="saveField('{{ i.id }}', 'sale_price', this)" {% if i.sale_price %} value="{{i.sale_price}}"{% endif %}>
                            </td>
                            <td>{{i.possible_surplus|currency}}</td>
                            <td>
                                <input type="number" step="0.01" min="-9999999999" max="9999999999" onchange="saveField('{{ i.id }}', 'verified_surplus', this)" {% if i.verified_surplus %} value="{{i.verified_surplus}}"{% endif %}>
                            </td>
                            <td>
                                <select onchange="saveField('{{ i.id }}', 'surplus_status', this)">
                                    <option>No Surplus Status</option>
                                    <option value="Not Determined" {% if i.surplus_status == "Not Determined" %}selected{% endif %}>Not Determined</option>
                                    <option value="Possible Surplus" {% if i.surplus_status == "Possible Surplus" %}selected{% endif %}>Possible Surplus</option>
                                    <option value="No Possible Surplus" {% if i.surplus_status == "No Possible Surplus" %}selected{% endif %}>No Possible Surplus</option>
                                    <option value="Fund Available" {% if i.surplus_status == "Fund Available" %}selected{% endif %}>Fund Available</option>
                                    <option value="Motion Filed" {% if i.surplus_status == "Motion Filed" %}selected{% endif %}>Motion Filed</option>
                                    <option value="Fund Claimed" {% if i.surplus_status == "Fund Claimed" %}selected{% endif %}>Fund Claimed</option>
                                    <option value="No Surplus" {% if i.surplus_status == "No Surplus" %}selected{% endif %}>No Surplus</option>
                                </select>
                            </td>
                            <td>
                                <span class="toggle-publish-case"
                                    data-id="{{ i.id }}"
                                    data-status="{{ i.published|yesno:'1,0' }}"
                                    style="cursor:pointer;font-size:18px;color:{{ i.published|yesno:'green,red' }};">
                                    {% if i.published %}🟢{% else %}🔴{% endif %}
                                </span>
                                {% if i.unskiptraced_defendants > 0 %}
                                {% IF i.fcl_final_judgment > i.appraised_value %}
                                <span title="{{ i.unskiptraced_defendants }} of {{ i.total_defendants }} defendants not skip-traced" style="margin-left:6px;color:orange;font-size:16px;cursor:help;">🚫</span>
                                {% else %}
                                <span title="{{ i.unskiptraced_defendants }} of {{ i.total_defendants }} defendants not skip-traced" style="margin-left:6px;color:orange;font-size:16px;cursor:help;">⚠️</span>
                                {% endif %}
                                {% endif %}
                            </td>
                            <td>
                            <a class="button" href="https://app.surplusindex.com/add_edit_foreclosure/?fcl_id={{i.id}}" target="_blank">View</a>
                            </td>
                            <td>
                                <select onchange="assignSkiptrace(this, '{{ i.id }}')" style="border:3px solid {% if i.unassigned_defendants > 0 %}#e22f2f{% else %}#34d613{% endif %}!important;">
                                    <option value="">Assign {{i.unassigned_defendants}}</option>
                                    {% for r in researchers %}
                                    <option value="{{r.id}}">{{r.username|upper}}</option>
                                    {% endfor %}
                                    <option value="clear">Clear</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </form>




    </div>

    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/Client.js' %}"></script>
    <script src="{% static 'js/Surplusindex.js' %}"></script>
    <script src="{% static 'js/ProjectManager.js' %}"></script>
</div>
<script>
$(document).on("click", ".toggle-publish-case", function () {

    const el = $(this);
    const fcl_id = el.data("id");
    const current_status = el.data("status");

    // Disable clicking to prevent multiple requests
    el.css("pointer-events", "none");

    // Show spinner
    el.fadeOut(150, function () {
        el.html(`<span class="spinner"></span>`).fadeIn(150);
    });

    $.ajax({
        url: "{% url 'toggle-publish' %}",
        type: "POST",
        data: {
            fcl_id: fcl_id,
            current_status: current_status,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {

            // Determine new icon
            const newIcon = data.new_status
                ? '<span style="color:green;font-size:18px;">🟢</span>'
                : '<span style="color:red;font-size:18px;">🔴</span>';

            const newStatusValue = data.new_status ? 1 : 0;

            // Replace spinner with new icon
            el.fadeOut(150, function () {
                el.html(newIcon);
                el.data("status", newStatusValue);
                el.css("pointer-events", "auto"); // enable clicking again
                el.fadeIn(150);
            });
        }
    });
});
</script>
{% endblock content%}
