{% extends 'base.html' %}
{% block title %}
Campaign Manager
{% endblock title %}

{% block content %}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">

<div class="section-header">
<h4>All Campaigns / Emails</h4>
</div>
<div class="section-body-full">
    <div class="table-wrapper">
        <table class="table table-striped table-hover" style="margin-top:30px;">
            <thead>
                <tr>
                    <th>Send Time</th>
                    <th>Sender</th>
                    <th>Scope</th>
                    <th>Recipient</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for c in campaigns %}
                <tr>
                    <td>{{c.send_time|add_hours:6 }}</td>
                    <td>{{c.sender.email_address}}</td>
                    <td>{{c.get_scope_display}}</td>
                    <td>{% if c.send_to_clients %}All Clients{% elif c.contact_list %}{{c.contact_list.name}}{% elif c.recipients_list %}Custom Email List{% elif c.recipient %}{{c.recipient}}{% endif %}</td>
                    <td>{{c.custom_subject|truncatechars:25}}</td>
                    <td>{{c.get_status_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</br>
<div class="section-header">
    <h4>Scheduled Email Campaign Logs</h4>
    <div style="display:block;">
        <a href="{% url 'download_scheduled_email_logs' %}" target="_blank" class="button" style="display: inline-block;">Download Log</a>
        <form method="post" action="{% url 'clear_email_logs' %}" style="display: inline-block;">
        {% csrf_token %}
            <button type="submit" class="button">Clear Logs</button>
        </form>
    </div>
</div>
<div class="section-body-full">
    <pre style="background:#111;color:#0f0;padding:10px;max-height:500px;overflow:auto;">
    {% for line in logs %}
    {{ line }}
    {% endfor %}
    </pre>
</div>
<script src="{% static 'js/Surplusindex.js' %}"></script>
{% endblock content %}
