{% extends 'base.html' %}
{% block title %}
Email Templates
{% endblock title %}

{% block content %}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<h1>Email Templates</h1>

<div class="section-header">
    <h4>{% if templateInstance %}Update Template: {{ templateInstance.name }}{% else %}Create New Template{% endif %}</h4>
</div>
<div class="section-body-full">
    <form method="POST" action="{% url "create_update_template" %}">
    {% csrf_token %}
    <div class="onehalf">
        <input type="hidden" name="selected_template" value="{{templateInstance.id}}">
        <label for="name">Name</label></br>
        <input type="text" name="name" id="name" style="width:90%" value="{% if templateInstance %}{{templateInstance.name}}{% endif %}"></br>
    
        <label for="subject">Subject</label></br>
        <input type="text" name="subject" id="subject" style="width:90%" value="{% if templateInstance %}{{templateInstance.subject}}{% endif %}"></br>
        
        <label for="signature">Signature</label></br>
        <textarea name="signature" id="signature" row="3" style="width:90%">{% if templateInstance %}{{templateInstance.signature}}{% endif %}</textarea></br></br>
    
        <input type="submit"  style="width:90%" value="{% if templateInstance %}Update Template{% else %}Create Template{% endif %}">
    </div>
    <div class="onehalf">
        <label for="body">Body</label></br>
        <textarea name="body" id="body" rows="10" style="width:90%">{% if templateInstance %}{{templateInstance.body}}{% endif %}</textarea>
    </div>
</div>

</br>

<div class="section-header">
    <h4>All Templates</h4>
</div>
<div class="section-body-full">

    {% for t in templates %}
    <a href="/com_templates/?selected_template={{t.id}}">
    <div class="onethird card">
        <h3>{{ t.name }}</h3>
        <p><strong>Subject:</strong> {{ t.subject }}</p>
        {% if t.signature %}
        <p class="signature"><em>{{ t.signature|safe }}</em></p>
        {% endif %}
    </div>
    </a>
    {% empty %}
    <p>No templates found</p>
    {% endfor %}
</div>


<style>
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align-last:left;
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    text-align-last:center;
}

.card p {
    margin: 8px 0;
}

.signature {
    font-size: 14px;
    color: #666;

}

</style>




<script src="{% static 'js/Surplusindex.js' %}"></script>
{% endblock content %}