.section {
    border: 2px solid #02bb7f59;
    border-radius: 10px;
    margin: 30px 5px;
    padding: 25px;
    background-color: #c6c6c640;
    height: auto;
    min-height: 300px;

}

.section h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.section input {
    width: 70%;
    margin: 10px 15px;
}

.task-section {
    border: 2px solid #5f5f5f59;
    border-radius: 10px;
    margin: 30px 5px;
    padding: 25px;
    background-color: #c6c6c640;
    height: auto;
    min-height: 200px;
}


.created {
    box-shadow: 0 0 6px 1px #ea6b1c9c;
    border: 2px solid #fba15d !important;
}

.assigned {
    box-shadow: 0 0 6px 1px #1cd9ea9c;
    border: 2px solid #00b1cc !important;
}

.delivered {
    box-shadow: 0 0 6px 1px #009255b6;
    border: 2px solid #009255 !important;
}

.delivery-due {
    box-shadow: 0 0 6px 1px #d900008c;
    border: 2px solid #cc0000 !important;
}


.task-completed {
    box-shadow: 0 0 6px 1px #1cea759c;
    border: 2px solid #168a59 !important;
    background-color: #5dc97a6e;
}

.primary-btn {
    padding: 2px 20px;
    cursor: pointer;
    background-color: #51ddd4 !important;
    color: #222222 !important;
    border: 2px solid #9a9a9a !important;
    border-radius: 4px;
    transition: ease-in-out 400ms;
}

.primary-btn:hover {
    transition: 400ms;
    background-color: #37aba3 !important;
    color: #fff !important;

}

.cycle {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid #011f27;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    cursor: pointer;
}

.cycle:hover {
    background-color: #37aba3;
}

.running {
    background-color: #0ca96d;
}

.active {
    background-color: #7de5bdab;
}

.completed {
    background-color: #acc95d;
}