body {
    background: url("/static/images/NYC.webp") no-repeat fixed;
}



h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: antiquewhite;

}

h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: #1a1a1a;

}

h5 {
    font-weight: normal;
    margin-bottom: 30px;
    color: antiquewhite;
    line-height: 31px;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 25px;
}

.blank-left {
    display: inline-block;
    width: 60%;
}

.option-right {
    width: 70px;
    /*changed to 270px */
    min-width: 70px;
    /*changed to 270px */
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e223e;
    min-height: 100%;
    min-height: 100% !important;
    position: relative;

}

.card {
    background-color: #ffffffdb;
    border: 3px solid #6f6f6f;
    border-radius: 10px;
}

.card-large {
    width: 500px;
    padding: 20px;
}

.card-large input,
.card-large label {
    width: 90%;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #078456;
    border-radius: 5px;
}

.card-medium {
    width: 360px;
    padding: 15px;
}

.card-small {
    width: 226px;
    padding: 20px;
}

.pw-toggle {
    cursor: pointer;
    justify-self: self-end;
    margin: 0px 60px;
    color: #000000;
}

.card a {
    color: #000000;
    font-size: 20px;
}

/*
a:link,
a:visited {}

a:hover,
a:active {}
*/

.button {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    background-color: #049560;
    border: 2px solid #154531;
    border-radius: 5px;
    color: #1a1a1a;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #04c981;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-large {
    font-size: 18px;
    padding: 12px;
    margin: 10px;
    width: 450px;
}

.button-medium {
    font-size: 16px;
    padding: 10px;
    margin: 7.5px;
    width: 325px;
}

.button-small {
    font-size: 14px;
    padding: 8px;
    margin: 5px;
    width: 200px;
}