.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.showPasswordToggle {
    cursor: pointer;
    transition: all;
}

.showPasswordToggle:hover {
    font-weight: bold;
}

/* main */
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600&display=swap');

::after::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0px !important;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'poppins', sans-serif;
}

.wrapper {
    display: flex;

}

.main {
    min-height: auto;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #e6f8ef;
}

.full-fixed {
    min-height: 100%;
    position: fixed;
    height: 100%;



}

.child {
    background-color: #1c2f4b;
    border: 1px solid #0d1520;


}

.child-next {
    background-color: #38475c;
    border: 1px solid #0d1520;

}


#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e223e;
    min-height: 100%;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem;
}

#toggle-btn i {
    font-size: 2.2rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.sidebar-logo a:hover {
    color: #08c88e;
}

#sidebar:not(.expand) .sidebar-logo {
    display: none;
}

#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* 
#sidebar:not(.expand) a.sidebar-link span:hover {
    display: inline-block !important;

} */

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1rem;
    color: #fff;
    /* display: block; */
    font-size: 1.1rem;
    white-space: nowrap;
    text-decoration: none;
    border-left: 3px solid transparent;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.sidebar-link i {
    font-size: 1.8rem;
    margin-right: .75rem;

}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #08c88e;
    color: #08c88e;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 100%;

}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown span {
    display: inline-flex;
    max-height: 15em;
    align-items: center;
    width: 100%;
    opacity: 100%;
}



#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* a span {
    margin: 2px 5px;
    position: absolute;
} */

/* main */