.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.showPasswordToggle {
    cursor: pointer;
    transition: all;
}

.showPasswordToggle:hover {
    font-weight: bold;
}

/* main */
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600&display=swap');

::after::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* All Link Styles */
a {
    text-decoration: none;
}

.button {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    background-color: #049560;
    border: 2px solid #154531;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #04c981;
    color: #ffffff;

}

.button-large {
    font-size: 18px;
    padding: 12px;
    margin: 10px;
    width: -webkit-fill-available;
    min-width: 300px;
}

.button-medium {
    font-size: 16px;
    padding: 10px;
    margin: 7.5px;
    width: 325px;

}

.button-small {
    font-size: 14px;
    padding: 8px;
    margin: 5px;
    width: 200px;
}




/* All Link Styles */

li {
    list-style: none;
}

ul {
    padding: 0px !important;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}


body {
    font-family: 'poppins', sans-serif;
}



.wrapper {
    display: flex;

}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #f3f3f3;

}

.full-fixed {
    min-height: 100%;
    position: fixed;
    height: 100%;

}

.child {
    background-color: #1c2f4b;
    border: 1px solid #0d1520;


}

.child-next {
    background-color: #38475c;
    border: 1px solid #0d1520;

}


#sidebar {
    width: 70px;
    /*changed to 270px */
    min-width: 70px;
    /*changed to 270px */
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e223e;
    min-height: 100%;
    min-height: 100% !important;
    position: relative;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
    position: relative;
    min-height: 100% !important;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem;
}

#toggle-btn i {
    font-size: 2.2rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.sidebar-logo a:hover {
    color: #08c88e;
}

#sidebar:not(.expand) .sidebar-logo {
    display: none;
}

#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* 
#sidebar:not(.expand) a.sidebar-link span:hover {
    display: inline-block !important;

} */

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1rem;
    color: #fff;
    /* display: block; */
    font-size: 1.1rem;
    white-space: nowrap;
    text-decoration: none;
    border-left: 3px solid transparent;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.sidebar-link i {
    font-size: 1.8rem;
    margin-right: .75rem;

}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #08c88e;
    color: #08c88e;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 100%;

}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown span {
    display: inline-flex;
    max-height: 15em;
    align-items: center;
    width: 100%;
    opacity: 100%;
}



#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* a span {
    margin: 2px 5px;
    position: absolute;
} */
.full-section {
    border: 2px solid #02bb7f59;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    background-color: #c6c6c640;
}

.full-section p {
    font-size: 18PX;
    padding: 0px 10px;
    text-align: justify;
    letter-spacing: .6px;

}

.full-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #067957;
    font-size: 30PX;
}

.full-section h3 {
    text-align: center;
    margin: 20px;
    font-weight: 600;
    font-size: 1.5rem;
}

.full-section h4 {
    font-weight: 600;
    color: #067c59;
}

.mid-section {
    width: 66%;
    display: inline-block;
    padding: 0px 30px;


}

.small-section {
    width: 33%;
    display: inline-block;



}


.user_credentials {
    border: 2px solid #08c88e;
    margin: 50px 30px;
    padding: 35px;
}

.user_credentials h4 {
    font-weight: 600;
    margin-top: -60px;
    background: #e6f8ef;
    width: fit-content;
    color: #067c59;
}

.sec-small {
    width: 30%;
}

.cir-section {
    display: inline-block;
    width: 33%;
    justify-items: center;
}

.user_credentials h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 1.8rem;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    background-color: #067c59;
    width: 160px;
    height: 160px;
    place-content: center;
    justify-items: anchor-center;
    transition: ease-in-out 500ms;
}

.circle:hover {
    background-color: #01b07c;
    transition: ease-in-out 500ms;
    cursor: pointer;

}

.circle h3 {
    font-size: 50px;
    font-weight: 600;
    color: #e6f8ef;
}