/* new css properties */
h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

input,
select {
    padding: 0px 5px;
    margin: 2px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 30px;
}

input[type=submit] {
    background-color: #0b9056;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 20px;
    width: -webkit-fill-available;

}


input[type=submit]:hover {
    background-color: #10be73;
    transition: ease-in-out 350ms;
}

input:disabled {
    background-color: #c8c8c8;
}

label {
    font-weight: bold;
}

.full {
    min-width: 99%;
    max-width: 99%;
}

.boxed-filter {
    background-color: #d6d6d6;
    padding: 20px;
    border: 1px solid #b6b6b6;
    border-radius: 9px;
    margin: 10px;
}

.onehalf {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.onethird {
    width: 31%;
    display: inline-block;
    vertical-align: top;
}

.twothird {
    width: 66%;
    display: inline-block;
    vertical-align: top;
}

.onefourth {
    width: 23%;
    display: inline-block;
    vertical-align: top;
}

.onefifth {
    width: 19%;
    display: inline-block;
    vertical-align: top;
}

.onesixth input,
.onesixth select,
.onefifth input,
.onefifth select {
    width: -webkit-fill-available;
}

.onesixth {
    min-width: 15%;
    max-width: 15%;
    display: inline-block;
    vertical-align: top;
}


table.table tr th {
    border: 1px solid #d3d3d3;
    padding: 5px 15px;
    vertical-align: middle;
    text-wrap-mode: nowrap;
    background-color: #066066;
    color: #fff;
}

table.table tr td {
    border: 1px solid #d3d3d3;
    padding: 0px 2px;
    vertical-align: middle;
    text-wrap-mode: nowrap;
}

.body-section {
    text-align-last: center;
    position: relative;
}

.section-header {
    border-radius: 5px 5px 0px 0px;
    background-color: #1db170;
    border: 1px solid #ababab;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.headerbutton {
    background-color: #55c796;
    color: #0f1105;
    text-decoration: none;
    padding: 6px 20px;
    border: 2px solid #0a1103;
    border-radius: 5px;
    font-weight: bold;
}

.headerbutton:hover {
    background-color: #b1cc16;
    color: #121b1f;
    transition: ease-in-out 400ms;
}

.section-filter-full {
    background-color: #eeeeee;
    border: 1px solid #ababab;
    display: block;
    padding: 10px 20px;
    overflow-x: auto;
    width: 100%;
    transition: ease-in-out 500ms;
}

.section-body-full {
    background-color: #eeeeee;
    border: 1px solid #ababab;
    display: block;
    padding: 10px;
    overflow-x: auto;
    width: 100%;
    text-align: center;
}

.subsection-header {
    background-color: #82c72a57;
    border: 2px solid #646464;
    border-radius: 10px 10px 0px 0px;
    margin-top: 30px;
}

.subsection-body {
    background-color: #e0e0e0;
    border: 2px solid #6f6f6f;
    padding: 20px 5px;
}

.button {
    padding: 2px 20px;
    cursor: pointer;
    background-color: #0b9056;
    color: #fff !important;
    border: 2px solid #024529;
    border-radius: 4px;
    transition: ease-in-out 500ms;
}

.button:hover {
    transition: 500ms;
    background-color: #10be73;

}

.contact-button {
    cursor: pointer;
    background-color: #e0e4e2;
    color: #0e0e0e;
    padding: 6px 25px;
    float: inline-start;
    width: 95%;
    text-align-last: center;

}

.contact-button:hover {
    transition: 300ms;
    background-color: #27c480;
    color: #010101;



}

.action-section {
    padding: 12px;
    display: block;
    height: 60px;
    background: #a6cbde;

}

.action-item {
    float: right;
    margin: 0px 10px;
}

.action-item button {
    padding: 6px 20px;
    background-color: #0b9056;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #566787;
    margin-bottom: 20px;
    transition: 500ms;
}

.action-item button:hover {
    background-color: #10be73;
    transition: 500ms;
}


/* new css properties */


.filter-section-full {
    width: 100%;
    display: block;
    padding: 5px;
    border: 1px solid #666;
}


.highlight-today table tbody tr td {
    background-color: #96ff76;
    color: rgb(0, 0, 0);
}

.highlight-recent table tbody tr td {
    background-color: #d8fa9c;
    color: black;
}



.filter-body {
    height: auto;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ababab;
    background-color: #f9f9f9;
    transition: all 0.25s ease-in-out;

}

.filter-body.collapsing {
    height: 0;
    padding: 0;
}



.filters {
    width: -webkit-fill-available;
    height: auto;
    background-color: #6d6d6d17;
    border: 1px solid grey;
    border-radius: 5px;
    float: left;
    display: block;
    padding: 10px;
    margin: 20px 20px 20px 20px;
    position: relative;
}


h6 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: auto;

}

.filter-item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    min-width: 300px;

}

.filter-item label {
    min-width: 160px;
    font-weight: 600;
}

.filter-item select {
    min-width: 200px;
    min-height: 30px;
}

.filter-item select:hover {
    border: 1px solid #0b9056;
}

.filter-item select:focus>option:checked {
    background-color: #0b905646;
    color: #000;
}

#range-slider,
#possible-range-slider,
#verified-range-slider {
    margin: 15px 0;
    width: 300px;
}

.range-values {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.range-section {

    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.286);
}

.range-section label {
    padding: 0px 10px;
    display: inline-block;
    width: 140px;
    margin: 0px 5px;
    text-align: left;
}



button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #afafaf;
    color: #001e0e;
}

button:disabled:hover {
    border: 1px solid #999999;
    background-color: #7e7d7d;
    color: #001e0e;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    /* vertically centers input & label */
    gap: 6px;
    /* space between checkbox and label */
}

.checkbox-wrapper input {
    width: 16px;
    cursor: pointer;
}

.section div {
    margin: 10px 0px;

}

.table-wrapper {
    background: #fff;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 5px solid #066066;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow-y: auto;
    overflow-x: auto;
    min-width: 100%;
}

.wrap {

    background: #fff;
    padding: 7px;
    margin: 0px;
    border-radius: 5px;
    border: 3px solid #066066;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.instruction {
    margin: 5px;
    width: 98%;
    padding: 10px;
    border: 1px solid black;
    background-color: beige;
}

.infotable th,
.infotable td {
    width: 225px;

}

.infotable h6 {
    background-color: #001e0e90;
    width: 95%;
    color: #fff;
    margin: 5px 0px;
    padding: 8px 0px;

}

.infotable td {
    padding-bottom: 20px;
    vertical-align: top;
}

table.table tr th:first-child {
    width: 48px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.highlight-row {
    background-color: #feffdf !important;

}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    font-size: 18px;
    margin: 0 3px;
}

/* table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
} */

/* table.table td a:hover {
    color: #2196F3;
} */

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #0b9056;
}

.pagination li.active a:hover {
    background: #10be73;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}


/* Popup Info button styling ------------------ Starts here ----------*/
.info-icon {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    line-height: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
    max-width: 800px;
    text-align: center;
}

.popup p {
    margin: 30px;
    font-size: 18px;
    color: #222527;
}

.popup-header {
    background-color: #1db5a3
}

/* Popup Info button styling ------------------ Ends here ----------*/
.dashboard-section {
    min-height: 210px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.dashboard-icon-row {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    height: 40px;
    padding: 10px;
    transition: ease-in-out 300ms;

}

.dashboard-icon-row:hover {

    background-color: #0505051f;
    transition: ease-in-out 300ms;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #aaaaaa;

}

.dashboard-icon-row i {
    margin-right: 20px;
    font-size: 30px;
}

.dashboard-icon-row-nano {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    height: 40px;
    padding: 10px;
    transition: ease-in-out 300ms;

}

.dashboard-icon-row-nano:hover {
    transition: ease-in-out 300ms;
}

.dashboard-icon-row-nano i {
    margin-right: 12px;
    font-size: 20px;
}

.dashboard-status-item {
    min-height: 190px;
    color: #075967;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 15px;

}

.dashboard-status-item-small {
    min-height: 130px;
    color: #075967;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 15px;
    display: block;
    margin: 20px;

}

.dashboard-status-item-header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-status-item-small p {
    line-height: 5px;
    margin-bottom: 5px;
}

.dashboard-status-item-small h4 {
    line-height: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    word-wrap: break-word;
    line-height: 20px;
}

.count-section {
    align-content: center;
    font-size: 30px;
    background-color: #0a6041;
    width: fit-content;
    padding: 0px 14px;
    border-radius: 7px;
    display: inline-block;
}

.green {
    color: #fffaf0;
    background-color: #42ba8e;
    transition: 500ms;
}

.blue {
    color: #fffaf0;
    background-color: #73b3df;
    transition: 500ms;
}

.yellow {
    color: #fffaf0;
    background-color: #e6c325;
    transition: 500ms;
}

.red {
    color: #fffaf0;
    background-color: #e96559;
    transition: 500ms;
}

.green:hover {
    background-color: #2a926a;
    transition: 500ms;
}

.blue:hover {
    background-color: #4c82a5;
    transition: 500ms;
}

.yellow:hover {
    background-color: #b29619;
    transition: 500ms;
}

.red:hover {
    background-color: #b33a2f;
    transition: 500ms;
}

.dashboard-status-item-small:hover {
    border: 2px solid #aaaaaa;
    cursor: pointer;
}

.dashboard-status-item:hover {
    background-color: #ffffff;
    transition: 500ms;
}

.dashboard-table-section {
    margin: 0.9%;
    padding: 25px;
}

.dashboard-table-wrapper {
    max-height: 400px;
    overflow-x: auto;
    border: 15px solid #e6e6e6;
}

.dashboard-table-button {
    margin: 3px !important;
    padding: 2px 18px !important;
}

.dt-highlight-row {
    background-color: #ffcccc !important;
    /* Light red background */
}

.dashboard-blurb-section {
    max-height: 500px;
    overflow-x: auto;
    background-color: #e7e7e7;
    padding: 20px;

}

.dashboard-blurb {
    padding: 5px 21px;
    border: 2px solid #c7c7c7;
    margin-bottom: 25px;
    background-color: #f7f7f7;
    border-radius: 7px;
    color: #4b4b4b;

}

/* ------------------------------- CSS Properties for ALL USER GROUP ----------------------------------------------*/
/* ------------------------------- CSS Properties for ALL USER GROUP ----------------------------------------------*/
.icon-button {
    padding: 5px 7px;
    cursor: pointer;
    background-color: #ddd432;
    color: #272a2a;
    border: 2px solid #353602;
    border-radius: 20px;
    transition: ease-in-out 500ms;


}

.icon-button:hover {
    transition: 500ms;
    background-color: #df7119;
    color: #fff !important;
    border-right-style: dotted;
}

.form-row {
    display: flex;
    align-items: center;
    /* vertically align label & input */
    margin: 8px 15px;
}

.form-row label {
    flex: 0 0 200px;
    font-weight: bold;
    text-align: left;
}

.form-row input,
.form-row select,
.form-row textarea,
.form-row button {
    flex: 1;
    padding: 2px 10px;
    width: 100%;
}

.header-text h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-style: double;
    margin: 20px;
}

/* ------------------------------- CSS Properties for ALL USER GROUP ----------------------------------------------*/
/* ------------------------------- CSS Properties for ALL USER GROUP ----------------------------------------------*/
.email-group {
    max-height: 600px;
    overflow-y: auto;
}

.email-group-item {
    max-height: 120px;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.email-group-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.email-group-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.email-group-item:hover {
    background-color: #f9f9f9;
}

.mail-section {
    border: 1px solid #dadada;
    margin: 2px 35px;
    padding: 5px;
    min-height: 100px;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.conversation {
    max-height: 400px;
    overflow-y: auto;
    background: #f8f9fa;
    border: 1px solid #c8c8c8;
    padding: 20px
}

.custom-textarea {
    text-align-last: left;
    border: 2px solid #ababab;
    border-radius: 5px;
    padding: 10px;
}

.inline-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inline-form input[type="text"] {
    flex: 1;
}

.inline-form input[type="file"] {
    flex: 1;
    float: left;
    border: none !important;
}


.address-preview {
    padding: 0 10px;
    text-align: left;
    vertical-align: top;
}

.main-address {

    text-align-last: left;
    padding: 0px 35px;
}


.property-list {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.property-row {
    display: flex;
    align-items: center;
    /* vertical centering */
    gap: 8px;
    cursor: pointer;
}

.property-row input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.property-text {
    line-height: 1.4;
}

/* Row highlight */
tr.active-row>td {
    background-color: #f4f288 !important;
    /* soft yellow */
}

/* Save button highlight when row is dirty */
.save-button.dirty {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.save-button.saved {
    background-color: #ece43d;
    color: #000000;
    border-color: #e8c828;
}