<div class="d-flex">
    <button id="toggle-btn" type="button">
        <i class="lni lni-shield-dollar"></i>
    </button>
    <div class="sidebar-logo">
        <a href="#">Surplus Index</a>
    </div>
</div>
<div class="user-grp-name">
    <center>
        <small>ADMIN</small>
    </center>
</div>
<ul class="sidebar-nav">
    <li class="sidebar-item">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
            <i class="lni lni-bar-chart-4"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#projects"
            aria-expanded="false" aria-controls="leads">
            <i class="lni lni-dashboard-square-1"></i>
            <span>Projects</span>
        </a>
        <ul id="projects" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-arrow-all-direction"></i>
                    <span>All Projects</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Task Manager</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-pen-to-square"></i>
                    <span>Active Tasks</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-check-square-2"></i>
                    <span>Delivered Tasks</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-sliders-horizontal-square-2"></i>
                    <span>Project Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#clients"
            aria-expanded="false" aria-controls="leads">
            <i class="lni lni-hand-shake"></i>
            <span>Clients</span>
        </a>
        <ul id="clients" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-user-multiple-4"></i>
                    <span>All Clients</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-hand-taking-user"></i>
                    <span>Help Center</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-target-user"></i>
                    <span>Follow Ups</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-refresh-user-1"></i>
                    <span>Client Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#team"
            aria-expanded="false" aria-controls="leads">
            <i class="lni lni-hierarchy-1"></i>
            <span>Team</span>
        </a>
        <ul id="team" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-search-text"></i>
                    <span>Data Analysts</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-search-2"></i>
                    <span>Virtual Assistants</span>
                </a>
            </li>
            <!-- <li class="sidebar-item child">
                <a href="{% url 'myleads' %}" class="sidebar-link collapsed" data-bs-toggle="collapse"
                    data-bs-target="#my-leads" aria-expanded="false" aria-controls="my-leads">
                    <i class="lni lni-layout-9"></i>
                    <span>My Leads</span>
                </a>
                <ul id="my-leads" class="sidebar-dropdown List-unstyled collapse">
                    <li class="sidebar-item child-next">
                        <a href="{% url 'myleads' %}" class="sidebar-link">
                            <i class=" lni lni-check-circle-1"></i>
                            <span>Active Leads</span>
                        </a>
                    </li>
                    <li class="sidebar-item child-next">
                        <a href="{% url 'archived' %}" class="sidebar-link">
                            <i class="lni lni-box-archive-1"></i>
                            <span>Archive</span>
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#data"
            aria-expanded="false" aria-controls="leads">
            <i class="lni lni-database-2"></i>
            <span>Data</span>
        </a>
        <ul id="data" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            
            <li class="sidebar-item child">
                <a href="{% url 'all_data' %}" class="sidebar-link">
                    <i class="lni lni-cloud-check-circle"></i>
                    <span>All Data</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-cloud-refresh-clockwise"></i>
                    <span>Edit Data</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'add_edit_fcl' %}" class="sidebar-link">
                    <i class="lni lni-cloud-refresh-clockwise"></i>
                    <span>Foreclosure</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-cloud-iot-2"></i>
                    <span>Data Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
            data-bs-target="#auction-calendar" aria-expanded="false" aria-controls="leads">
            <i class="lni lni-calendar-days"></i>
            <span>Calendar</span>
        </a>
        <ul id="auction-calendar" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'auction_calendar' %}" class="sidebar-link">
                    <i class="lni lni-calendar-days"></i>
                    <span>Auction Calendar</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'calendar_settings' %}" class="sidebar-link">
                    <i class="lni lni-weight-machine-1"></i>
                    <span>Calendar Settings</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
            aria-expanded="false" aria-controls="auth">
            <i class="lni lni-shield-2-check"></i>
            <span>Account</span>
        </a>
        <ul id="auth" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'profile' %}" class="sidebar-link">
                    <i class="lni lni-user-4"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'settings' %}" class="sidebar-link">
                    <i class="lni lni-gear-1"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'user-logout' %}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </li>
</ul>

<!-- <div class="sidebar-footer">
    <a href="{% url  'user-logout' %}" class="sidebar-link">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
    </a>
</div> -->