<div class="d-flex">
    <button id="toggle-btn" type="button">
        <i class="bi bi-coin"></i>
    </button>
    <div class="sidebar-logo">
        <a href="#">Surplus Index</a>
    </div>
</div>
<div class="user-grp-name">
    <center>
        <small>ADMIN</small>
    </center>
</div>
<ul class="sidebar-nav">
    <li class="sidebar-item">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
            <i class="bi bi-columns-gap"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#subscription" aria-expanded="false" aria-controls="leads">
            <i class="bi bi-cart4"></i>
            <span>Subscription</span>
        </a>
        <ul id="subscription" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'active_subscription' %}" class="sidebar-link">
                    <i class="bi bi-cart-check"></i>
                    <span>Active Subscriptions</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'subscription_settings' %}" class="sidebar-link">
                    <i class="bi bi-sliders"></i>
                    <span>Manage Subscriptions</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#projects"
            aria-expanded="false" aria-controls="leads">
            <i class="bi bi-speedometer"></i>
            <span>Project Manager</span>
        </a>
        <ul id="projects" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'project_dashboard' %}" class="sidebar-link">
                    <span>Projects Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'project_manager' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-arrow-all-direction"></i> {% endcomment %}
                    <span>Manage Projects</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'task_manager' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-agenda"></i> {% endcomment %}
                    <span>Task Manager</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'task_viewer' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-pen-to-square"></i> {% endcomment %}
                    <span>Task Viewer</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'active_tasks' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-pen-to-square"></i> {% endcomment %}
                    <span>Active Tasks</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="{% url 'delivered_tasks' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-check-square-2"></i> {% endcomment %}
                    <span>Delivered Tasks</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="{% url 'project_settings' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-sliders-horizontal-square-2"></i> {% endcomment %}
                    <span>Project Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#custom-delivery"
            aria-expanded="false" aria-controls="leads">
            <i class="bi bi-truck"></i>
            <span>Custom Delivery</span>
        </a>
        <ul id="custom-delivery" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'filter_list' %}" class="sidebar-link">
                    <span>Filter List</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'filter_create' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-arrow-all-direction"></i> {% endcomment %}
                    <span>Filter Form</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'export_option_list' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-agenda"></i> {% endcomment %}
                    <span>Custom Deliveries</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'export_option_create' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-pen-to-square"></i> {% endcomment %}
                    <span>Deliveries Form</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#communication"
            aria-expanded="false" aria-controls="communication">
            <i class="bi bi-broadcast-pin"></i>
            <span>Communication</span>
        </a>
        <ul id="communication" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'com_dashboard' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-sliders-horizontal-square-2"></i> {% endcomment %}
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'client_contacts' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-sliders-horizontal-square-2"></i> {% endcomment %}
                    <span>Client Contacts</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'com_inbox' %}" class="sidebar-link">
                    <span>Inbox</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'com_sent' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-arrow-all-direction"></i> {% endcomment %}
                    <span>Sent</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'com_campaign' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-agenda"></i> {% endcomment %}
                    <span>Campaign</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'com_templates' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-pen-to-square"></i> {% endcomment %}
                    <span>Templates</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'com_settings' %}" class="sidebar-link">
                    {% comment %} <i class="lni lni-pen-to-square"></i> {% endcomment %}
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#clients"
            aria-expanded="false" aria-controls="leads">
            <i class="bi bi-c-circle"></i>
            <span>Clients</span>
        </a>
        <ul id="clients" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'all_clients' %}" class="sidebar-link">
                    <i class="bi bi-fingerprint"></i>
                    <span>All Clients</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-person-raised-hand"></i>
                    <span>Help Center</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-phone-flip"></i>
                    <span>Follow Ups</span>
                </a>
            </li>

            <li class="sidebar-item child">
                <a href="{% url 'client_settings' %}" class="sidebar-link">
                    <i class="bi bi-gear-wide-connected"></i>
                    <span>Client Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#team"
            aria-expanded="false" aria-controls="leads">
            {% comment %} <i class="lni lni-hierarchy-1"></i> {% endcomment %}
            <span>Team</span>
        </a>
        <ul id="team" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    {% comment %} <i class="lni lni-search-text"></i> {% endcomment %}
                    <span>Data Analysts</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    {% comment %} <i class="lni lni-search-2"></i> {% endcomment %}
                    <span>Virtual Assistants</span>
                </a>
            </li>
            <!-- <li class="sidebar-item child">
                <a href="{% url 'myleads' %}" class="sidebar-link collapsed" data-bs-toggle="collapse"
                    data-bs-target="#my-leads" aria-expanded="false" aria-controls="my-leads">
                    <i class="lni lni-layout-9"></i>
                    <span>My Leads</span>
                </a>
                <ul id="my-leads" class="sidebar-dropdown List-unstyled collapse">
                    <li class="sidebar-item child-next">
                        <a href="{% url 'myleads' %}" class="sidebar-link">
                            <i class=" lni lni-check-circle-1"></i>
                            <span>Active Leads</span>
                        </a>
                    </li>
                    <li class="sidebar-item child-next">
                        <a href="{% url 'archived' %}" class="sidebar-link">
                            <i class="lni lni-box-archive-1"></i>
                            <span>Archive</span>
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#data"
            aria-expanded="false" aria-controls="leads">
            <i class="bi bi-database"></i>
            <span>Data</span>
        </a>
        <ul id="data" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            
            <li class="sidebar-item child">
                <a href="{% url 'all_data' %}" class="sidebar-link">
                    <i class="bi bi-journal-text"></i>
                    <span>All Foreclosures</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'add_edit_fcl' %}" class="sidebar-link">
                    <i class="bi bi-file-earmark-medical"></i>
                    <span>Edit Foreclosure</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'all_contacts' %}" class="sidebar-link">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>All Contacts</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'skiptrace' %}" class="sidebar-link">
                    <i class="bi bi-person-gear"></i>
                    <span>Edit Contacts</span>
                </a>
            </li>
            
            <li class="sidebar-item child">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-database-gear"></i>
                    <span>Data Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
            data-bs-target="#auction-calendar" aria-expanded="false" aria-controls="leads">
            <i class="bi bi-calendar3"></i>
            <span>Calendar</span>
        </a>
        <ul id="auction-calendar" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'auction_calendar' %}" class="sidebar-link">
                    <i class="bi bi-calendar2-week"></i>
                    <span>Auction Calendar</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'calendar_settings' %}" class="sidebar-link">
                    <i class="bi bi-calendar2-check"></i>
                    <span>Calendar Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#adminclient"
            aria-expanded="false" aria-controls="leads">
            <i class="bi bi-person-workspace"></i>
            <span>Admin as Client</span>
        </a>
        <ul id="adminclient" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            
            <li class="sidebar-item child">
                <a href="{% url 'leads' %}" class="sidebar-link">
                    <i class="bi bi-journal-text"></i>
                    <span>Available Leads</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'myleads' %}" class="sidebar-link">
                    <i class="bi bi-journal-check"></i>
                    <span>My Leads</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
            aria-expanded="false" aria-controls="auth">
            <i class="bi bi-person-circle"></i>
            <span>Account</span>
        </a>
        <ul id="auth" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'profile' %}" class="sidebar-link">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'settings' %}" class="sidebar-link">
                    <i class="bi bi-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'user-logout' %}" class="sidebar-link">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </li>
</ul>

