<div class="d-flex">
    <button id="toggle-btn" type="button">
        <i class="lni lni-shield-dollar"></i>
    </button>
    <div class="sidebar-logo">
        <a href="#">Surplus Index</a>
    </div>
</div>
<div class="user-grp-name">
    <center>
        <small>CLIENT</small>
    </center>
</div>
<ul class="sidebar-nav">
    <li class="sidebar-item">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
  <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
</svg>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'leads' %}" class="sidebar-link">
            <i class="lni lni-shield-dollar"></i>
            <span>All Leads</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'myleads' %}" class="sidebar-link">
            <i class=" lni lni-check-circle-1"></i>
            <span>My Leads</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
            aria-expanded="false" aria-controls="auth">
            <i class="lni lni-shield-2-check"></i>
            <span>Account</span>
        </a>
        <ul id="auth" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'profile' %}" class="sidebar-link">
                    <i class="lni lni-user-4"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'subscriptions' %}" class="sidebar-link">
                    <i class="lni lni-crown-3"></i>
                    <span>Subscription</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'settings' %}" class="sidebar-link">
                    <i class="lni lni-gear-1"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>

</ul>

<div class="sidebar-footer">
    <a href="{% url  'user-logout' %}" class="sidebar-link">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
    </a>
</div>