<div class="d-flex">
    <button id="toggle-btn" type="button">
        <i class="bi bi-coin"></i>
    </button>
    <div class="sidebar-logo">
        <a href="#">Surplus Index</a>
    </div>
</div>
<div class="user-grp-name">
    <center>
        <small>CLIENT</small>
    </center>
</div>
<ul class="sidebar-nav">
    <li class="sidebar-item">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
            <i class="bi bi-columns-gap"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'leads' %}" class="sidebar-link">
            <i class="bi bi-journal-text"></i>
            <span>All Leads</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url 'myleads' %}" class="sidebar-link">
            <i class="bi bi-journal-check"></i>
            <span>My Leads</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
            aria-expanded="false" aria-controls="auth">
            <i class="bi bi-person-circle"></i>
            <span>Account</span>
        </a>
        <ul id="auth" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child">
                <a href="{% url 'profile' %}" class="sidebar-link">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'subscriptions' %}" class="sidebar-link">
                    <i class="bi bi-bag-check"></i>
                    <span>Subscription</span>
                </a>
            </li>
            <li class="sidebar-item child">
                <a href="{% url 'settings' %}" class="sidebar-link">
                    <i class="bi bi-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>

</ul>

<div class="sidebar-footer">
    <a href="{% url  'user-logout' %}" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
    </a>
</div>