<div class="d-flex">
    <button id="toggle-btn" type="button">
        <i class="bi bi-coin"></i>
    </button>
    <div class="sidebar-logo">
        <a href="#">Surplus Index</a>
    </div>
</div>
<div class="user-grp-name">
    <center>
        <small>CLIENT</small>
    </center>
</div>
<ul class="sidebar-nav">
    <li class="sidebar-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <a href="{% url 'dashboard' %}" class="sidebar-link">
            <i class="bi bi-columns-gap"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item {% if request.resolver_match.url_name == 'leads' %}active{% endif %}">
        <a href="{% url 'leads' %}" class="sidebar-link">
            <i class="bi bi-house-exclamation"></i>
            <span>Foreclosures</span>
        </a>
    </li>
    <li class="sidebar-item {% if request.resolver_match.url_name == 'downloaded-data' %}active{% endif %}">
        <a href="{% url 'downloaded-data' %}" class="sidebar-link">
            <i class="bi bi-cloud-arrow-down"></i>
            <span>Downloaded Data</span>
        </a>
    </li>
    <li class="sidebar-item {% if request.resolver_match.url_name == 'myleads' %}active{% endif %}">
        <a href="{% url 'myleads' %}" class="sidebar-link">
            <i class="bi bi-journal-check"></i>
            <span>Purchased Data</span>
        </a>
    </li>
    <li class="sidebar-item {% if request.resolver_match.url_name == 'get_assistance' %}active{% endif %}">
        <a href="{% url 'get_assistance' %}" class="sidebar-link">
            <i class="bi bi-person-raised-hand"></i>
            <span>Help</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
            aria-expanded="false" aria-controls="auth">
            <i class="bi bi-person-circle"></i>
            <span>Account</span>
        </a>
        <ul id="auth" class="sidebar-dropdown List-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item child {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                <a href="{% url 'profile' %}" class="sidebar-link">
                    <i class="bi bi-person-lines-fill"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item child {% if request.resolver_match.url_name == 'subscriptions' %}active{% endif %}">
                <a href="{% url 'subscriptions' %}" class="sidebar-link">
                    <i class="bi bi-bag-check"></i>
                    <span>Subscription</span>
                </a>
            </li>
            <li class="sidebar-item child {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                <a href="{% url 'settings' %}" class="sidebar-link">
                    <i class="bi bi-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </li>

</ul>

<div class="sidebar-footer">
    <a href="{% url  'user-logout' %}" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
    </a>
</div>