body {
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #e8f7f2;
}