{% extends 'base.html' %}
{% block title %}
New Leads
{% endblock title %}


{% block content %}
{% load static %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div style="margin-top: 20px;" class="body-section">
    <div class="section-header">
        <h4>Filters</h4>
        <a href="{% url 'all_data' %}" class="button">Clear Filter</a>
    </div>

    <form method="post" action="{% url 'all_data' %}">
        {% csrf_token %}
        <div class="section-filter-full" id="filters">
            <div class="onefourth">
                <label for="salestatusFilter">Sale Status</label><br>
                <select style="width:85%;" id="salestatusFilter" name="salestatusFilter" onchange="this.form.submit()">
                    <option value="" {% if salestatusFilter == "" %}selected{% endif %}>--- Select Sale Status ---</option>
                    {% for salestatus in salestatuses %}
                    <option value="{{salestatus}}" {% if salestatus == salestatusFilter %}selected{% endif %}>{{salestatus|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="surplusstatusFilter">Surplus Status</label><br>
                <select style="width:85%;" id="surplusstatusFilter" name="surplusstatusFilter" onchange="this.form.submit()">
                    <option value="" {% if surplusstatusFilter == "" %}selected{% endif %}>--- Select Surplus Status ---</option>
                    {% for surplusstatus in surplusstatuses %}
                    <option value="{{surplusstatus}}" {% if surplusstatus == surplusstatusFilter %}selected{% endif %}>{{surplusstatus|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="casesearchstatusFilter">Case Search Status</label><br>
                <select style="width:85%;" id="casesearchstatusFilter" name="casesearchstatusFilter" onchange="this.form.submit()">
                    <option value="" {% if casesearchstatusFilter == "" %}selected{% endif %}>--- Case Search Status ---</option>
                    {% for casesearchstatus in casesearchstatuses %}
                    <option value="{{casesearchstatus}}" {% if casesearchstatus == casesearchstatusFilter %}selected{% endif %}>{{casesearchstatus|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="publishedstatusFilter">Published Status</label><br>
                <select style="width:85%;" id="publishedstatusFilter" name="publishedstatusFilter" onchange="this.form.submit()">
                    <option value="False" {% if publishedstatusFilter == "" or "False" %}selected{% endif %}>False</option>
                    <option value="True" {% if publishedstatusFilter == "True" %}selected{% endif %}>True</option>
                </select>
            </div>
        </div>    
        <div class="section-filter-full" id="filters"> 
            <div class="onefourth">
                <label for="selectedUser">Assigned To</label><br>
                <select style="width:85%;" id="selectedUser" name="selectedUser" onchange="this.form.submit()">
                    <option value="">--- Select User ---</option>
                    {% for user in userList %}
                    <option value="{{user.username}}" {% if selectedUser == user.username %}selected{% endif %}>{{user.username|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="stateFilter">Select State</label><br>
                <select style="width:85%;" id="stateFilter" name="stateFilter" onchange="this.form.submit()">
                    <option value="" {% if stateFilter == "" %}selected{% endif %}>--- Select State ---</option>
                    {% for state in states %}
                    <option value="{{state}}" {% if state == stateFilter %}selected{% endif %}>{{state|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="countyFilter">Select County</label><br>
                <select style="width:85%;" id="countyFilter" name="countyFilter" onchange="this.form.submit()" {% if stateFilter == "" %}disabled{% endif %}>
                    <option value="" {% if countyFilter == "" %}selected{% endif %}>--- Select County ---</option>
                    {% for county in counties %}
                    <option value="{{county}}" {% if county == countyFilter %}selected{% endif %}>{{county|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="onefourth">
                <label for="saletypeFilter">Sale Type</label><br>
                <select style="width:85%;" id="saletypeFilter" name="saletypeFilter" onchange="this.form.submit()" {% if stateFilter == "" %}disabled{% endif %}>
                    <option value="" {% if saletypeFilter == "" %}selected{% endif %}>All</option>
                    {% for saletype in saletypes %}
                    <option value="{{saletype}}" {% if saletype == saletypeFilter %}selected{% endif %}>{{saletype|upper}}</option>
                    {% endfor %}
                </select>
            </div>     
        </div>
    </form>
</div>

<div style="margin-top: 20px;" class="body-section">
    <div class="section-header">
        <h4>Actions</h4>
    </div>

    <div class="filter-body">
        <div class="onefourth" style="padding:10px; display:inline-block;">
        <form method="post", action="{% url 'update_case_assignment' %}">      
        {% csrf_token %}
            <input type="hidden" name="stateFilter" value="{{stateFilter}}">
            
            <select style="width:100%;" name="assignCaseSearch" id="assignCaseSearch">
                <option value="">-- Assign Case Search --</option>
                {% for user in userList %}
                <option value="{{ user.username }}" {% if user.username == request.POST.assign_to %}selected{% endif %}>{{ user.username|upper }}</option>
                {% endfor %}
            </select>
            <input type="submit" id="submitBtn" value="Assign" disabled>
        </form>
        </div>
        <div class="onefourth" style="padding:10px; display:inline-block;">
        <form method="post", action="{% url 'update_skp_assignment' %}">
        {% csrf_token %}
            <input type="hidden" name="sel_state" value="{{sel_state}}">
            
            <select style="width:100%;" name="skp_assign_to" id="skp_assign_to">
                <option value="">-- Assign Skiptracing --</option>
                {% for user in DA %}
                <option value="{{ user.username }}" {% if user.username == request.POST.assign_to %}selected{% endif %}>{{ user.username|upper }}</option>
                {% endfor %}
            </select>
            <input type="submit" id="submitBtnSkp" value="Assign" disabled>
        </form>
        </div>
        <div class="onefourth" style="padding:10px; display:inline-block;">
        <form method="post", action="{% url 'update_case_search_status' %}">
            {% csrf_token %}
            <input type="hidden" name="sel_state" value="{{sel_state}}">
            
            <select style="width:100%;" name="status" id="status">
                <option value="">-- Select Status --</option>
                <option value="Pending">Pending</option>
                <option value="Completed">Completed</option>
                <option value="Verified">Verified</option>
            </select>
            <input type="submit" id="updatestatus" value="Update Status" disabled>
        </form>
        </div>
        <div class="onefourth" style="padding:10px; display:inline-block;">
            <form method="post", action="{% url 'update_publish_status' %}">
                {% csrf_token %}
                <input type="hidden" name="sel_state" value="{{sel_state}}">
                
                <select style="width:100%;" name="publish" id="publish">
                    <option value="">-- Select Publish Status --</option>
                    <option value="Publish">Publish</option>
                    <option value="Unpublish">Unpublish</option>
                </select>
                <input type="submit" id="updatepublish" value="Update Status" disabled>
            </form>
        </div>
    </div>
    <div class="section-body-full">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>State</th>
                    <th>County</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th>Case Number</th>
                    <th>Sale Date</th>
                    <th>Judgment</th>
                    <th>Sold for</th>
                    <th>Ps Surplus</th>
                    <th>Vf Surplus</th>
                    <th>Action</th>
                </tr>
            <thead>
            <tbody>
                {% for Lead in leads %}
                <tr>
                    <form id="search-form" method="post" action="{% url 'all_data' %}">
                        {% csrf_token %}
                        <input type="hidden" name="leadid" value="{{ Lead.pk }}">
                        <td><a href="/add_edit_foreclosure/?fcl_id={{ Lead.id }}">Edit</a></td>
                        <td><input style="width: 150px; " type="text" id="state" value="{{Lead.state}}" name="state"></td>
                        <td><input style="width: 150px;" type="text" id="county" value="{{Lead.county}}" name="county"></td>
                        <td><input style="width: 150px;" type="date" id="added" value="{{Lead.created_at}}" name="added"></td>
                        <td><input style="width: 150px;" type="text" id="case_search_status" value="{{Lead.case_search_status}}" name="case_search_status"></td>
                        <td><input style="width: 150px;" type="text" id="assigned_to" value="{{Lead.case_search_assigned_to}}" name="assigned_to"></td>
                        <td><input style="width: 150px;" type="text" id="addf1" value="NA" name="addf1"></td>
                        <td><input style="width: 150px;" type="text" id="addf2" value="NA" name="addf2"></td>
                        
                        <td><input type="submit" value="Update" ></td>
                    </form>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
<script>
        const selectElement = document.getElementById('assign_to');
        const submitButton = document.getElementById('submitBtn');

        const selectSkip = document.getElementById('skp_assign_to');
        const skipButton = document.getElementById('submitBtnSkp');

        const selectStatus = document.getElementById('status');
        const statusButton = document.getElementById('updatestatus');
        const selectPublish = document.getElementById('publish');
        const publishButton = document.getElementById('updatepublish');

        selectElement.addEventListener('change', function() {
            if (selectElement.value === "") {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        });

        selectSkip.addEventListener('change', function() {
            if (selectSkip.value === "") {
                submitBtnSkp.disabled = true;
            } else {
                submitBtnSkp.disabled = false;
            }
        });

        selectStatus.addEventListener('change', function(){
            if (selectStatus.value === "") {
                statusButton.disabled = true;
            } else {
                statusButton.disabled = false;
            }
        })

        selectPublish.addEventListener('change', function(){
            if (selectPublish.value === "") {
                publishButton.disabled = true;
            } else {
                publishButton.disabled = false;
            }
        })         

// Check on page load in case of form resubmission with an empty value
        if (selectElement.value === "") {
            submitButton.disabled = true;
        }

        if (selectSkip.value === "") {
            submitBtnSkp.disabled = true;
        }
        
        if (selectStatus.value === "") {
            statusButton.disabled = true;
        }
        
        if (selectPublish.value === "") {
            publishButton.disabled = true;
        }

</script>


{% endblock content %}