{% extends 'base.html' %}
{% block title %}
Auction Calendar
{% endblock title %}

{% block content %}
{% load static %}

<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/propertydata.css' %}" rel="stylesheet">
<link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="body-section">
    <div class="section-header">
        <h2>Events Filters</h2>
        <button id="toggle-filters" class="button" onclick="toggleFilters(this.id, 'filters')">Hide</button>
    </div>
    <div class="section-filter-full" id="filters">
    <form method="post" action="{% url 'auction_calendar' %}">
        {% csrf_token %}
        <div class="onefifth">
            <label for="selectedUser">Data Analyst</label><br>
            <select id="selectedUser" name="selectedUser" onchange="this.form.submit()" style="width:95%;">
                <option value="">--- Select User ---</option>
                {% for user in userList %}
                <option value="{{user.username}}" {% if selectedUser == user.username %}selected{% endif %}>{{user.username|upper}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="onefifth">
            <label for="stateFilter">Select State</label><br>
            <select id="stateFilter" name="stateFilter" onchange="this.form.submit()" style="width:95%;">
                <option value="" {% if stateFilter == "" %}selected{% endif %}>--- Select State ---</option>
                {% for state in states %}
                <option value="{{state}}" {% if state == stateFilter %}selected{% endif %}>{{state|upper}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="onefifth">
            <label for="countyFilter">Select County</label><br>
            <select id="countyFilter" name="countyFilter" onchange="this.form.submit()" {% if stateFilter == "" %}disabled{% endif %} style="width:95%;">
                <option value="" {% if countyFilter == "" %}selected{% endif %}>--- Select County ---</option>
                {% for county in counties %}
                <option value="{{county}}" {% if county == countyFilter %}selected{% endif %}>{{county|upper}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="onefifth">
            <label for="saletypeFilter">Update Event Type</label><br>
            <select id="saletypeFilter" name="saletypeFilter" onchange="this.form.submit()" {% if stateFilter == "" %}disabled{% endif %} style="width:95%;">
                <option value="" {% if saletypeFilter == "" %}selected{% endif %}>All</option>
                {% for saletype in saletypes %}
                <option value="{{saletype}}" {% if saletype == saletypeFilter %}selected{% endif %}>{{saletype|upper}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="onefifth">
        <label for="saledateFilter">Event Timeline</label><br>
        <select id="saledateFilter" name="saledateFilter" onchange="this.form.submit()" style="width:95%;">
            <option value=""{% if saledateFilter == "" %}selected{% endif %}>See All Events</option>
            <option value="past" {% if saledateFilter == "past" %}selected{% endif %}>Past Events</option>
            <option value="upcoming" {% if saledateFilter == "upcoming" %}selected{% endif %}>Upcoming Events</option>
        </select>
        </div>
        <div class="onethird">
        <label for="orderbyFilter">Order By</label><br>
        <select id="orderbyFilter" name="orderbyFilter" onchange="this.form.submit()" style="width:95%;">
            <option value=""{% if orderbyFilter == "" %}selected{% endif %}>Order by dates</option>
            <option value="event_next" {% if orderbyFilter == "event_next" %}selected{% endif %}>Pre Foreclosure Ascending</option>
            <option value="-event_next" {% if orderbyFilter == "-event_next" %}selected{% endif %}>Pre Foreclosure Descending</option>
            <option value="event_updated_from" {% if orderbyFilter == "event_updated_from" %}selected{% endif %}>Pre from Ascending</option>
            <option value="-event_updated_from" {% if orderbyFilter == "-event_updated_from" %}selected{% endif %}>Pre from Descending</option>
            <option value="event_updated_to" {% if orderbyFilter == "event_updated_to" %}selected{% endif %}>Pre to Ascending</option>
            <option value="-event_updated_to" {% if orderbyFilter == "-event_updated_to" %}selected{% endif %}>Pre to Descending</option>
            <option value="post_event_next" {% if orderbyFilter == "post_event_next" %}selected{% endif %}>Post Foreclosure Ascending</option>
            <option value="-post_event_next" {% if orderbyFilter == "-post_event_next" %}selected{% endif %}>Post Foreclosure Descending</option>
            <option value="post_event_updated_from" {% if orderbyFilter == "post_event_updated_from" %}selected{% endif %}>Post from Ascending</option>
            <option value="-post_event_updated_from" {% if orderbyFilter == "-post_event_updated_from" %}selected{% endif %}>Post from Descending</option>
            <option value="post_event_updated_to" {% if orderbyFilter == "post_event_updated_to" %}selected{% endif %}>Post to Ascending</option>
            <option value="-post_event_updated_to" {% if orderbyFilter == "-post_event_updated_to" %}selected{% endif %}>Post to Descending</option>
        </select>
        </div>
        </form>
    </div>
    <div class="section-header" style="margin-top:20px;">
        <h2>Events Calendar</h2>
        <h4>{{current_user|upper}}</h4>
    </div>
    <div class="section-body-full">
        <div class="table-wrapper">
            <table id="leads-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>County</th>
                        <th>Sale Type</th>
                        <th>Next Sale Date</th>
                        <th>Updated From</th>
                        <th>Updated To</th>
                        <th>Post Next Sale</th>
                        <th>Post Updated From</th>
                        <th>Post Updated To</th>
                        <th>Website</th>
                        <th>Save</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr data-id="{{ event.id }}">
                        <td>{{event.state}}</td>
                        <td>{{event.county}}</td>
                        <td>{{event.sale_type}}</td>
                        <td>
                            <input type="date" class="form-control event_next"
                                value="{{ event.event_next|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control event_updated_from"
                                value="{{ event.event_updated_from|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control event_updated_to"
                                value="{{ event.event_updated_to|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control post_event_next"
                                value="{{ event.post_event_next|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control post_event_updated_from"
                                value="{{ event.post_event_updated_from|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control post_event_updated_to"
                                value="{{ event.post_event_updated_to|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="button" class="copyButton" value="Copy" data-url="{{ event.event_site }}"
                                onclick="copyToClipboard(this);">


                            <input TYPE="button" class="small-button" VALUE="Visit"
                                onclick="window.open('{{ event.event_site }}');">
                        </td>
                        <td>
                            <button class="save-button" onclick="saveRow(this)">Save</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <div class="clearfix">
                    <div class="hint-text">Showing Page <b>{{ events.number }}</b> out of <b>{{ events.paginator.num_pages }}</b> Pages | Events count ({{total_events}})</div>
                    <ul class="pagination">
                        {% if events.has_previous %}
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page=1" class="page-link">First</a></li>
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{ events.previous_page_number }}">Previous</a></li>
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{ events.previous_page_number }}" class="page-link">{{ events.previous_page_number }}</a></li>
                        {% endif %}

                        <li class="page-item active"><a href="#" class="page-link">{{ events.number }}</a></li>

                        {% if events.has_next %}
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{ events.next_page_number }}" class="page-link">{{ events.next_page_number }}</a></li>
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{ second_previous }}" class="page-link">{{ second_previous }}</a></li>
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{events.next_page_number}}" class="page-link">Next</a></li>
                        <li class="page-item"><a href="?selectedUser={{selectedUser}}&stateFilter={{stateFilter}}&countyFilter={{countyFilter}}&saletypeFilter={{saletypeFilter}}&page={{ events.paginator.num_pages }}">Last</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </form>

    </div>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/Surplusindex.js' %}"></script>
    <script src="{% static 'js/auction_calendar.js' %}"></script>
</div>

{% endblock content%}