{% extends 'base.html' %}
{% block title %}
Get Assistance
{% endblock title %}


{% block content %}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<div class="help-container">
    <!-- LEFT SIDEBAR -->
    <div class="help-sidebar">
        <h4>Conversations</h4>

        <div class="conversation-list">
        {% for c in conversations %}
            {% if c.status == "open" %}
            <div class="conversation active {% if c.id == conv.id %}selected{% endif %}"
                data-conv-id="{{ c.id }}"
                id="conv-{{ c.id }}"
                onclick="loadConversation(this)"
            >
                
                <strong>{{ c.title }}</strong>
                {% if c.unread > 0 %}
                <span class="unread-badge" id="unread-{{ c.id }}">{{ c.unread }}</span></br>
                {% else %}
                <span class="unread-badge" id="unread-{{ c.id }}" style="display:none;"></span></br>
                {% endif %}
                
                {% comment %} <i class="{% if c.unread > 0 and c.unread < 10 %}bi bi-{{ c.unread }}-circle-fill{% else %}bi bi-chat-dots{% endif %}" style="color:{% if c.unread > 9 %}#9d1010{% else %}#04212f{% endif %}"></i></br> {% endcomment %}
                <p>{% if c.last_sender_id and c.last_sender_id != request.user.id %}Re: {% endif %}{{ c.last_msg|truncatechars:35 }}</p>
            </div>
            {% endif %}
        {% endfor %}
        {% for c in conversations %}
            {% if c.status == "closed" %}
            <div class="conversation" id="conv-{{ c.id }}" data-conv-id="{{ c.id }}" onclick="loadConversation(this)">
                <strong>{{ c.title }}</strong>
                <span class="unread-badge" id="unread-{{ c.id }}"></span></br>
                <p>{% if c.last_sender_id and c.last_sender_id != request.user.id %}Re: {% endif %}{{ c.last_msg }}</p>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <!-- RIGHT CHAT AREA -->
    <div class="help-chat">
        <!-- MESSAGES -->
        <div class="chat-messages" id="chatMessages">
            <div class="message received">
                Hello 👋 How can we help you?
            </div>
            
            {% for msg in con_messages %}
                <div class="message {{ msg.msgtype }}">
                    <div class="msg-text">{{ msg.text }}</div>
                    <div class="msg-time">{{ msg.message_time }}</div>
                    
                </div>
            {% endfor %}
            
        </div>

        <!-- INPUT -->
        <div class="chat-input">
            <input type="hidden" id="selectedchat" value="{{conv.id}}">
            <input type="text" id="chatInput" placeholder="Type your message..." />
            <button onclick="sendMessage()">Send <i class="bi bi-send"></i></button>
        </div>
    </div>
</div>
<script>


</script>
<script src="{% static 'js/Assistance_client.js' %}"></script>
{% endblock content %}