{% extends 'base.html' %}
{% block title %}
Clients
{% endblock title %}


{% block content %}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">

<div class="body-section">

    <div class="section-header">
        <h4>{{client_instance.user.username}} </h4>
        <button 
            class="btn btn-sm btn-warning resend-btn"
            data-user-id="{{ client_instance.user.id }}"
            data-attempt="{{ client_instance.activation_attempt }}">
            Resend ({{ client_instance.activation_attempt }})
        </button>
        
    </div>

    <div class="section-filter-full" id="filters">
        {% comment %} {% if client_instance.user_type == 'si_client' %}
        
        {% else %} {% endcomment %}
        <div class="onefourth boxed-filter" >
            <label for="all-orders">Total Order (Price)</label>
            <h4 id="all-orders">{{all_orders}} (${{total_order_amount}})</h4>
        </div>
        <div class="onefourth boxed-filter">
            <label for="completed-orders">Completed Order (Paid)</label>
            <h4 id="completed-orders">{{completed_orders}} (${{total_paid}})</h4>
        </div>
        <div class="onefourth boxed-filter">
            <label for="running-orders">Running Order (Updaid)</label>
            <h4 id="running-orders">{{running_orders}} (${{total_unpaid}})</h4>
        </div>
        
        <div class="onefourth boxed-filter">
            <label for="order-status">Show Orders by Status</label>
            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="client" value="{{client_instance.pk}}">
            <select name="order-status" onchange="this.form.submit()">
                <option value="" {% if selected_orderstatus == "" %}selected{% endif %}>Show All Orders</option>
                <option value="running" {% if selected_orderstatus == "running" %}selected{% endif %}>Running Orders</option>
                <option value="completed"  {% if selected_orderstatus == "completed" %}selected{% endif %}>Completed Orders</option>
            </select>
            </form>
        </div><br>
        <div class="onefourth boxed-filter">
            <label for="free-balance">Available Free Credits</label>
            <h4 id="free-balance">{{client_instance.free_credit_balance}}</h4>
        </div>
        <div class="onefourth boxed-filter">
            <label for="purchased-balance">Available Purchased Credits</label>
            <h4 id="purchased-balance">{{client_instance.purchased_credit_balance}}</h4>
        </div>
        <div class="onefourth boxed-filter">
            <label for="total-balance">Total Credits</label>
            <h4 id="total-balance">{{client_instance.Total_credits}}</h4>
        </div>
        <div class="onefourth boxed-filter">
            <label for="last-online">Online Status</label>
            <h5 id="last-online"><span style="{% if login_status == "Online" %}color:#1db170{% else %}color:#254056{% endif %}">{{login_status}}</span></h5>
        </div>    
    </div>

    <div class="section-header" style="margin-top:20px; background-color: #587b98">
    <h4>Purchase Stat</h4>
    </div>
    <div class="section-body-full">
        <div class="onethird" style="    justify-items: left;">
            <h4>Total Purchased: {{total_purchased}}</h4>
            <h6>Active: {{active}}</h6>
            <h6>Sold: {{sold}}</h6>
            <h6>Cancelled: {{cancelled}}</h6>
            <h6>Bankruptcy: {{bankruptcy}}</h6>
            <h6>Plaintiff Buy Back: {{sold_to_plt}}</h6>
        </div>
        <div class="onethird" style="    justify-items: left;">
            <h4>Sold: {{sold}}</h4>
            <h6>Not Determined: {{not_determined}}</h6>
            <h6>Possible Surplus: {{possible_surplus}}</h6>
            <h6>Verified Surplus: {{verified_surplus}}</h6>
            {% comment %} <h6>Claiming in Progress: {{motion_filed}}</h6> {% endcomment %}
            <h6>Fund Claimed: {{fund_claimed}}</h6>
            {% comment %} <h6>No Possible Surplus: {{no_possible_surplus}}</h6> {% endcomment %}
            <h6>No Surplus: {{no_surplus}}</h6>
            
        </div>
        <div class="onethird" style="    justify-items: left;">
        </div>
    </div>









    <div class="section-header" style="margin-top:20px; background-color: #587b98">
    <h4>Create Order</h4>
    </div>

    <div class="section-body-full">
        <form method="post" action='{% url 'CreateOrder' %}'>
            {% csrf_token %}
            <input type="hidden" name="client" value="{{client_instance.pk}}">
            <input type="hidden" name="order-status" value="{{selected_orderstatus}}">
            
            <div class="onefifth">
                <label for="order-date">Date Ordered</label>
                <input type="date" name="order-date">
            </div>
            <div class="onefifth">
                <label for="status">Order Status</label>
                <select name="status">
                    <option value="">Select</option>
                    <option value="Running" selected>Running</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="order_price">Order Price</label>
                <input type="number" name="order_price">
            </div>
            <div class="onefifth">
                <label for="payment-status">Payment Status</label>
                <select name="payment-status">
                    <option value="">-- Select --</option>
                    <option value="requested">Payment Requested</option>
                    <option value="in_escrow">In Escrow Account</option>
                    <option value="paid">Paid</option>
                    <option value="not_paid">Not Paid</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="payment-method">Payment Method</label>
                <input type="text" name="payment-method">
            </div>
            <input type="text" name="order-detail" placeholder="Order Detail" style="width:96%; margin:15px 0px;">
            <input type="text" name="customer_id" placeholder="Customer ID" style="width:48%; margin:0px 0px 15px 0px;">
            <input type="text" name="checkout_id" placeholder="Checkout ID" style="width:48%; margin:0px 0px 15px 0px;">
            <input type="submit" value="Create Order">
        </form>
    </div>
</div>

{% for order in orders %}

<div class="section-header" style="margin-top:20px;" data-id="{{order.id}}">
    <h4>Order id: {{order.id}}</h4>
    
    <select class="order_status" onchange="updateOrderStatus(this)" {% if order.undelivered_count > 0 %}disabled{% elif not order.payment_status == 'paid' %}disabled{% endif %}>
        <option value="running" {% if order.order_status == 'running' %}selected{% endif %}>Running</option>
        <option value="completed" {% if order.order_status == 'completed' %}selected{% endif %}>Completed</option>
    </select>
</div>

<div class="section-body-full">
    <div class="onesixth">
        <label for="date-ordered">Date Ordered</label>
        <h4 id="date-ordered">{{order.date_ordered|date:"d/m/Y"}}</h4>
    </div>
    <div class="onesixth">
        <label for="num-deliveries">Deliveries</label>
        <h4 id="num-deliveries">{{deliveries}}</h4>
    </div>
    <div class="onesixth">
        <label for="num-delivered">Completed</label>
        <h4 id="num-delivered">{{delivered}}</h4>
    </div>
    <div class="onesixth">
        <label for="num-pending">Pending</label>
        <h4 id="num-pending">{{pending}}</h4>
    </div>
    <div class="onesixth">
        <label for="order-price">Order Price</label>
        <h4 id="order-price">{{order.order_price|currency}}</h4>
    </div>
    <div class="onesixth">
        <label for="payment-status">Payment Status</label>
        <form method="post" action='{% url 'UpdatePaymentStatus' %}'>
        {% csrf_token %}
        <input type="hidden" name="client" value="{{client_instance.pk}}">
        <input type="hidden" name="order" value="{{order.id}}">
        <input type="hidden" name="order-status" value="{{selected_orderstatus}}">
        <select name="payment-status" onchange="this.form.submit()">
            <option value="" {% if order.payment_status == "" %}selected{% endif %}>-- Select --</option>
            <option value="requested" {% if order.payment_status == "requested" %}selected{% endif %}>Payment Requested</option>
            <option value="in_escrow"  {% if order.payment_status == "in_escrow" %}selected{% endif %}>In Escrow Account</option>
            <option value="paid"  {% if order.payment_status == "paid" %}selected{% endif %}>Paid</option>
            <option value="not_paid"  {% if order.payment_status == "not_paid" %}selected{% endif %}>Not Paid</option>
        </select>
        </form>
    </div>
</div>
<div class="table-wrapper">
    <table id="leads-table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>S_ID</th>
                <th>Delivery Date</th>
                <th>Delivered In</th>
                <th>Detail</th>
                <th>Delivery Status</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for delivery in order.deliveries.all %}
            <tr data-id="{{delivery.id}}">
                <td>{{forloop.counter|stringformat:"02d"}}_{{delivery.id|stringformat:"02d"}}</td>
                <td><input type="date" name="delivery_date" value="{{delivery.delivery_date|date:'Y-m-d'}}"></td>
                <td><input type="date" name="delivered_date" value="{{delivery.delivered_in|date:'Y-m-d'}}"></td>
                <td><input type="text" name="delivery_note" value="{{delivery.delivery_note}}" style="min-width:700px;"></td>
                <td>
                    <select class="delivery_status" name="delivery_status" onchange="saveDeliverystatus(this)">
                        <option value=""{% if not delivery.delivery_status %}selected{% endif %}>Select Status</option>
                        <option value="assigned" {% if delivery.delivery_status == 'assigned' %}selected{% endif %}>Assigned</option>
                        <option value="ready" {% if delivery.delivery_status == 'ready' %}selected{% endif %}>Ready To Deliver</option>
                        <option value="delivered" {% if delivery.delivery_status == 'delivered' %}selected{% endif %}>Delivered</option>
                        <option value="revision" {% if delivery.delivery_status == 'revision' %}selected{% endif %}>Revision</option>
                    </select>
                </td>
                <td><input type="submit" value="Save"></td>
                
            </tr>
        {% endfor %}
            <tr>
                <form method="post" action="{% url 'createDelivery' %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{order.id}}">
                <input type="hidden" name="client_id" value="{{client_instance.pk}}">
                <td></td>
                <td><input type="date" name="delivery_date"></td>
                <td><input type="date" name="delivered_date"></td>
                <td><input type="text" name="delivery_note" style="min-width:700px;" placeholder="Add Delivery Note"></td>
                
                <td>
                    <select name="delivery_status">
                        <option value="">Select Status</option>
                        <option value="assigned">Assigned</option>
                        <option value="ready">Ready To Deliver</option>
                        <option value="delivered">Delivered</option>
                        <option value="revision">Revision</option>
                    </select>
                </td>
                <td><input type="submit" value="Add Delivery"></td>
                </form>
            <tr>
        </tbody>
    </table>
</div>
{% endfor %}
<div class="table-wrapper">
    <table id="leads-table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>FID</th>
                <th>State</th>
                <th>County</th>
                <th>Case Num</th>
                <th>Surplus</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
        {% for f in purchased_leads %}
            <tr>
                <td>{{f.id}}</td>
                <td>{{f.state}}</td>
                <td>{{f.county}}</td>
                <td>{{f.case_number}}</td>
                <td>{% if f.verified_surplus and f.verified_surplus > 0 %}{{f.verified_surplus}}{% else %}{{f.possible_surplus}}(Apr){% endif %}</td>
                <td>{{f.get_surplus_status_display}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'js/Surplusindex.js' %}"></script>
    <script src="{% static 'js/Admin_Client.js' %}"></script>
</div>
<script>

document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.resend-btn');

    buttons.forEach(btn => {
        btn.addEventListener('click', function () {
            const userId = this.dataset.userId;
            const btn = this;
            btn.disabled = true;
            btn.textContent = 'Sending...';

            fetch("{% url 'resend_activation_email' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams({ 'user_id': userId })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        btn.textContent = `Sent (${data.attempts}) ✅`;
                        btn.classList.remove('btn-warning');
                        btn.classList.add('btn-success');
                    } else {
                        btn.textContent = data.error || 'Error';
                        btn.classList.remove('btn-warning');
                        btn.classList.add('btn-danger');
                    }
                })
                .catch(err => {
                    btn.textContent = 'Failed';
                    btn.classList.remove('btn-warning');
                    btn.classList.add('btn-danger');
                })
                .finally(() => {
                    setTimeout(() => btn.disabled = false, 5000);
                });
        });
    });
});
</script>

{% endblock content %}