{% extends 'base.html' %}
{% block title %}
Available Leads
{% endblock title %}


{% block content%}
{% load static %}
{% load custom_filters %}
<link href="{% static 'css/surplusindex.css' %}" rel="stylesheet">
<link href="{% static 'css/client.css' %}" rel="stylesheet">
<div class="body-section">
    <div class="client-sec-header" style="margin-top:0px;">
        <h4>Filter Surplus Data</h4>
        <button id="toggle-filters" class="icon-button" data-url="{% url 'update-show-hide-setting' %}" onclick="Toggle_and_Save(this.id, 'filters','purchased_show_filter', event)" style="padding: 2px 7px;"><i class="bi bi-eye-slash"></i></button>
    </div>
    <div class="filter-section" id="filters" style="display:{% if client_settings.purchased_show_filter %}block{% else %}none{% endif %};">
        <form method="post">
        {% csrf_token %}
            <div style="width: 99%;">
                <h4>General Filters</h4></br>
                <div class="filter-item-section">
                    <div class="onefifth">
                        <label for="stateFilter">Select State</label><br>
                        <select id="stateFilter" name="stateFilter" onchange="this.form.submit()">
                            <option value="" {% if selectedState == "" %}selected{% endif %}>--- Select State ---</option>
                            {% for state in states %}
                            <option value="{{state}}" {% if state == selectedState %}selected{% endif %}>{{state|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefifth">
                        <label for="countyFilter">Select County</label><br>
                        <select id="countyFilter" name="countyFilter" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %}>
                            <option value="">All</option>
                            {% for county in counties %}
                            <option value="{{county}}" {% if county == selectedCounty %}selected{% endif %}>{{county|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefifth">
                        <label for="saletypeFilter">Sale Type</label>
                        <select id="saletypeFilter" name="saletypeFilter" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %}>
                            <option value="">All</option>
                            {% for saletype in saletypes %}
                            <option value="{{saletype}}" {% if saletype == selectedSaletype %}selected{% endif %}>{{saletype|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="onefifth">
                        <label for="possiblesurplusFilter">Possible Surplus</label>
                        <input type="number" placeholder="Set Minimum" name="ps_min" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %} value="{% if psmin %}{{psmin}}{% endif %}"><br>
                    </div>
                    <div class="onefifth">
                        <label for="verifiedsurplusFilter">Verified Surplus</label>
                        <input type="number" placeholder="Set Minimum" name="vs_min" onchange="this.form.submit()" {% if selectedState == "" %}disabled{% endif %} value="{% if vsmin %}{{vsmin}}{% endif %}"><br>
                    </div>
                </div>
            </div>
            {% if selectedState %}
            <div style="width: 99%;">
                <h4>Advanced Filters</h4></br></br>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Sale Date Filter Options</h5></br></br>
                        <label>Year</label></br>
                        <select name="sale_date_year" onchange="this.form.submit()" style="width:100%">
                            <option value="">Select Sale Year</option>
                            {% for year in years reversed %}
                            <option value="{{year}}" {% if saledateYear == year %}selected{% endif %}>{{year}}</option>
                            {% endfor %}
                        </select>
                        </br>
                        <label>Month</label></br>
                        <select name="sale_date_month" onchange="this.form.submit()" style="width:100%">
                            <option value="">Select Sale Month</option>
                            {% for num, name in months %}
                                <option value="{{ num }}" {% if saledateMonth == num %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                        </br>
                        <label>Order By</label></br>
                        <select name="sale_date_order" onchange="this.form.submit()" style="width:100%">
                            <option value="">Sale Date Order</option>
                            <option value="-lead__sale_date"{% if saledateOrder == '-lead__sale_date' %}selected{% endif %}>Newest First</option>
                            <option value="lead__sale_date"{% if saledateOrder == 'lead__sale_date' %}selected{% endif %}>Oldest First</option>
                        </select>
                    </div>
                </div>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Sale Status</h5></br></br>

                        <input type="checkbox" name="sale_status_active" value="Active" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusACTIVE == "Active" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Active</label></br>

                        <input type="checkbox" name="sale_status_sold" value="Sold" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusSOLD == "Sold" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Sold</label></br>

                        <input type="checkbox" name="sale_status_canceled" value="Cancelled" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if saleStatusCANCELED == "Cancelled" %}checked{% endif %}>
                        <label style="vertical-align: middle;">Cancelled</label></br>
                    </div></br></br>
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>User Specific Filters</h5></br></br>
                        <label for="show_archived">Show Archived Leads</label></br>
                        <input type="checkbox" name="show_archived" id="show_archived" value="show" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if showArchived == "show" %}checked{% endif %} {% if selectedState == "" %}disabled{% endif %}>
                    </div>        
                </div>
                <div class="onethird" style="margin: 0px 10px;">
                    <div class="filter-item-section" style="text-align-last: left;">
                        <h5>Surplus Status</h5></br></br>
                    
                        <input type="checkbox" name="status_nd" value="Not Determined" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusND == "Not Determined" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Not Determined</label></br>

                        <input type="checkbox" name="status_ps" value="Possible Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusPS == "Possible Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Possible Surplus</label></br>

                        <input type="checkbox" name="status_nps" value="No Possible Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusNPS == "No Possible Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">No Possible Surplus</label></br>

                        <input type="checkbox" name="status_fa" value="Fund Available" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusFA == "Fund Available" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Fund Available</label></br>

                        <input type="checkbox" name="status_mf" value="Motion Filed" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusMF == "Motion Filed" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Motion Filed</label></br>

                        <input type="checkbox" name="status_fc" value="Fund Claimed" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusFC == "Fund Claimed" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">Fund Claimed</label></br>

                        <input type="checkbox" name="status_ns" value="No Surplus" style="vertical-align: middle; width: 20px;" onchange="this.form.submit()" {% if surplusStatusNS == "No Surplus" %}checked{% endif %}>
                        <label style="vertical-align: middle;" for="show_hidden">No Surplus</label></br>
                    </div>
                </div>
            </div></br>
            
            
            {% endif %}
        {% comment %} </form> {% endcomment %}
    </div>         
            
        <div class="client-sec-header">
            <h4>Prospecting Filters</h4>
            <button id="toggle-P-filters" class="icon-button" data-url="{% url 'update-show-hide-setting' %}" onclick="Toggle_and_Save(this.id, 'prospecting-filters','purchased_show_prospecting_filter', event)" style="padding: 2px 7px;"><i class="bi bi-eye-slash"></i></button>
        </div>
        
        <div class="section-filter-full" id="prospecting-filters">
            <div class="onefifth">
                <label for="assnFilter">Assignment Status</label><br>
                <select id="assnFilter" name="assnFilter" onchange="this.form.submit()">
                    <option value="" {% if FAssignment == "" %}selected{% endif %}>-- Select Assignment Status --</option>
                    <option value="not_assigned" {% if FAssignment == "not_assigned" %}selected{% endif %}>Not Assigned</option>
                    <option value="assigned" {% if FAssignment == "assigned" %}selected{% endif %}>Assigned</option>
                    <option value="completed" {% if FAssignment == "completed" %}selected{% endif %}>Completed</option>
                    <option value="verified" {% if FAssignment == "verified" %}selected{% endif %}>Contact Verified</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="skpFilter">Skiptracing Status</label><br>
                <select id="skpFilter" name="skpFilter" onchange="this.form.submit()">
                    <option value="" {% if SkpStatus == "" %}selected{% endif %}>-- Select Skiptracing Status --</option>
                    <option value="pending" {% if SkpStatus == "pending" %}selected{% endif %}>Pending Skiptracing</option>
                    <option value="skiptraced_found" {% if SkpStatus == "skiptraced_found" %}selected{% endif %}>Skiptraced (Found)</option>
                    <option value="skiptraced_not_found" {% if SkpStatus == "skiptraced_not_found" %}selected{% endif %}>Skiptraced (Not Found)</option>
                    <option value="cold_calling_located" {% if SkpStatus == "cold_calling_located" %}selected{% endif %}>Owner Located by Cold calling</option>
                    <option value="cold_calling_not_located" {% if SkpStatus == "cold_calling_not_located" %}selected{% endif %}>Owner can not be Located</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="callFilter">Cold Call Status</label><br>
                <select id="callFilter" name="callFilter" onchange="this.form.submit()">
                    <option value="" {% if CallStatus == "" %}selected{% endif %}>-- Select Calling Status --</option>
                    <option value="need_to_call" {% if CallStatus == "need_to_call" %}selected{% endif %}>Call and Close Deal</option>
                    <option value="responded" {% if CallStatus == "responded" %}selected{% endif %}>Called (Responded)</option>
                    <option value="not_responded" {% if CallStatus == "not_responded" %}selected{% endif %}>Called (No Response)</option>
                    <option value="re_skiptrace" {% if CallStatus == "re_skiptrace" %}selected{% endif %}>Assigned for Re-Skiptrace</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="negFilter">Negotiation Status</label><br>
                <select id="negFilter" name="negFilter" onchange="this.form.submit()">
                    <option value="" {% if NegStatus == "" %}selected{% endif %}>-- Select Negotiation Status --</option>
                    <option value="interested" {% if NegStatus == "interested" %}selected{% endif %}>Interested in Fee Agreement</option>
                    <option value="not_interested" {% if NegStatus == "not_interested" %}selected{% endif %}>Not Interested</option>
                    <option value="not_sure" {% if NegStatus == "not_sure" %}selected{% endif %}>Not Sure</option>
                </select>
            </div>
            <div class="onefifth">
                <label for="clFilter">Close and Claim Status</label><br>
                <select id="clFilter" name="clFilter" onchange="this.form.submit()">
                    <option value="" {% if ClStatus == "" %}selected{% endif %}>-- Select Closing Status --</option>
                    <option value="preparing_documents" {% if ClStatus == "preparing_documents" %}selected{% endif %}>Preparing Documents</option>
                    <option value="agreement_sent" {% if ClStatus == "agreement_sent" %}selected{% endif %}>Agreement Sent</option>
                    <option value="conversion_in_progress" {% if ClStatus == "conversion_in_progress" %}selected{% endif %}>Conversion in Progress</option>
                    <option value="closed_funded" {% if ClStatus == "closed_funded" %}selected{% endif %}>Closed (Funded)</option>
                    <option value="closed_not_funded" {% if ClStatus == "closed_not_funded" %}selected{% endif %}>Closed (Not Funded)</option>
                </select>
            </div>
            <div>
                <div class="client-sec-sub-header" style="max-height:36px;">
                <h4>Closing Deal Filters</h4>
                </div>
                <div class="section-body-full">
                    <div class="onethird">
                        <label for="pdFilter">Paperwork Status</label><br>
                        <select id="pdFilter" name="pdFilter" onchange="this.form.submit()">
                            <option value="" {% if PdStatus == "" %}selected{% endif %}>-- Select Paperwork Status --</option>
                            <option value="not_started" {% if pdStatus == "not_started" %}selected{% endif %}>Paperwork Not Started</option>
                            <option value="started" {% if pdStatus == "started" %}selected{% endif %}>Started Processing Paperwork</option>
                            <option value="prepared" {% if pdStatus == "prepared" %}selected{% endif %}>Agreement Ready to send</option>
                            <option value="mailed" {% if pdStatus == "mailed" %}selected{% endif %}>Agreement Mailed</option>
                        </select>
                    </div>
                    <div class="onethird">
                        <label for="adFilter">Agreement Status</label><br>
                        <select id="adFilter" name="adFilter" onchange="this.form.submit()">
                            <option value="" {% if AdStatus == "" %}selected{% endif %}>-- Select Agreement Status --</option>
                            <option value="not_delivered" {% if AdStatus == "not_delivered" %}selected{% endif %}>Delivery in Progress</option>
                            <option value="delivered" {% if AdStatus == "delivered" %}selected{% endif %}>Agreement Delivered</option>
                            <option value="returned_signed" {% if AdStatus == "returned_signed" %}selected{% endif %}>Agreement Signed & Returned</option>
                            <option value="returned_not_signed" {% if AdStatus == "returned_not_signed" %}selected{% endif %}>Agreement Not Returned or Signed</option>
                        </select>
                    </div>
                    <div class="onethird">
                        <label for="lpFilter">Legal Proceedings Status</label><br>
                        <select id="lpFilter" name="lpFilter" onchange="this.form.submit()">
                            <option value="" {% if LpStatus == "" %}selected{% endif %}>-- Select Legal Proceedings Status --</option>
                            <option value="attorney_submit" {% if LpStatus == "attorney_submit" %}selected{% endif %}>Handed over to Attorney</option>
                            <option value="direct_submit" {% if LpStatus == "direct_submit" %}selected{% endif %}>Applied for Fund</option>
                            <option value="motion_granted" {% if LpStatus == "motion_granted" %}selected{% endif %}>Application Granted</option>
                            <option value="motion_denied" {% if LpStatus == "motion_denied" %}selected{% endif %}>Application Denied</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <div class="client-sec-header">
        <h4>My Leads</h4>
    </div>
    <div class="section-body-full">
        <div class="action-section">
            <form method='post' action="{% url 'archive_leads' %}">
            {% csrf_token %}
            <input type='hidden' name="show_archived" value="{{showArchived}}">
            <input type='hidden' name="assignment_status" value="{{FAssignment}}">
            <input type='hidden' name="stateFilter" value="{{selectedState}}">
            {% if FAssignment and not FAssignment == "verified" %}
            <div class="action-item">
                <button class="button" id="archive-button" data-requires-selection type="submit" onclick="return confirmAction()" formaction="{% url 'updateAssignment' %}">Mark <span data-selected-count>0</span> as {% if FAssignment == "not_assigned" %}Assigned{% elif FAssignment == "assigned" %}Completed{% elif FAssignment == "completed" %}Verified{% endif %}</button>
            </div>
            {% endif %}

            <div class="action-item">
                <button class="button" id="archive-button" data-requires-selection type="submit" onclick="return confirmAction()">{% if showArchived %}Unarchive{% else %}Archive{% endif %} <span data-selected-count>0</span> Selected</button>
            </div>

            <div class="action-item">
                <button class="button" id="archive-button" data-requires-selection type="submit" onclick="return confirmExport()" formaction="{% url 'export_mylead' %}">Export <span data-selected-count>0</span> Selected Leads</button>
            </div>

        </div>
        <div class="table-wrapper">
            <table id="leads-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>
                                <input type="checkbox" id="selectAll" style="width:20px;">
                            </span>
                        </th>
                        <th>State</th>
                        <th>County</th>
                        <th>Sale Date</th>
                        <th>Sale Type</th>
                        <th>Possible Surplus</th>
                        <th>Verified Surplus</th>
                        <th>Surplus Status</th>
                        <th>Lead Status</th>
                        <th>View</th>


                    </tr>
                </thead>
                <tbody>
                {% if selectedState == "" %}
                    <tr>
                        <td colspan=10>Please select a State to load data</td>
                    <tr>
                {% else %}
                    {% for i in leads %}

                    <tr>
                        <td class="{% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox" class="checkbox" name="selected_items" value="{{ i.id }}">
                                <label for="checkbox"></label>
                            </span>
                        </td>
                        <td class="state {% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.state|title}}</td>
                        <td class="county {% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.county|title}}</td>
                        <td class="{% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.sale_date|date:'m/d/Y'}}</td>
                        <td class="saletype {% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}" >{{i.lead.sale_type|title}}</td>
                        <td class="possible-surplus {% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.possible_surplus|currency}}</td>
                        <td class="verified-surplus {% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.verified_surplus|currency}}</td>
                        <td class="{% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.lead.surplus_status|title}}</td>

                        <td class="{% if current_user in i.lead.hidden_for.all %}highlight-row{% endif %}">{{i.get_find_contact_status_display}}</td>
                        <td><a href="{% url 'leads-detail' %}?status_id={{i.id}}" class="client-button" style="padding: 2px 15px !important; font-size: 14px;">Detail</a></td>
                        
                    {% endfor %}
                {% endif %}
                </tbody>
            </form>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing Page <b>{{ leads.number }}</b> out of <b>{{ leads.paginator.num_pages }}</b> Pages | Leads count ({{total_leads}})</div>
                <ul class="pagination">
                    {% if leads.has_previous %}
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page=1" class="page-link">First</a></li>
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{ leads.previous_page_number }}">Previous</a></li>
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{ leads.previous_page_number }}" class="page-link">{{ leads.previous_page_number }}</a></li>
                    {% endif %}
{% comment %} &countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}} {% endcomment %}

                    <li class="page-item active"><a href="#" class="page-link">{{ leads.number }}</a></li>



                    {% if leads.has_next %}
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{ leads.next_page_number }}" class="page-link">{{ leads.next_page_number }}</a></li>
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{ second_previous }}" class="page-link">{{ second_previous }}</a></li>
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{leads.next_page_number}}" class="page-link">Next</a></li>
                    <li class="page-item"><a href="?stateFilter={{selectedState}}&countyFilter={{selectedCounty}}&saletypeFilter={{selectedSaletype}}&ps_min={{psmin}}&vs_min={{vsmin}}&show_hidden={{showHidden}}&page={{ leads.paginator.num_pages }}">Last</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    




    </div>

    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/Client.js' %}"></script>
    <script src="{% static 'js/Surplusindex.js' %}"></script>
</div>












    


{% endblock content%}
