{% extends 'base_auth.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
<div class="card card-large">
    <form action="{% url 'login' %}" method="post">
        <h2>Sign In</h2>
        {% csrf_token %}
        {% include 'partials/_messages.html' %}

        <input type="text" name="username" id="usernameField" placeholder="User Name or Email " value="{{fieldValues.username}}">
        <input type="password" name="password" id="passwordField" placeholder="Password">
        <div class="pw-toggle">
            <small class="float-end py-3 showPasswordToggle">SHOW</small>
        </div>
        <input type="submit" value="Login" class="button submit-btn">
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </p>
</div>
<script src="{% static 'js/register.js' %}"></script>


{% endblock content %}