{% extends 'base_auth.html' %}
{% block title %}Confirm Password Reset{% endblock %}
{% load static %}
{% block content %}
<div class="card card-large">
    <h2>Enter a new password</h2>
    <form method="post">
    {% csrf_token %}
    
        
        <input type="password" name="new_password1" id="id_new_password1" placeholder="New password" required>
        {% if form.new_password1.errors %}
        <p style="color: red;">{{ form.new_password1.errors }}</p>
        {% endif %}
        
        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm New password" required>
        {% if form.new_password2.errors %}
        <p style="color: red;">{{ form.new_password2.errors }}</p>
        {% endif %}

        <input type="submit" class="button">Change password</button>
    </form>
</div>
{% endblock content %}
