{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <title>SurplusIndex</title>     
</head>
<body>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VSCGX4BF1W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VSCGX4BF1W');
    </script>
    <div class="container">
        <div class="left-section">
            <div>
                <h1>SurplusIndex</h1>
                <p>The Largest Surplus Funds Database Tailored for Recovery Agents</p>
            </div>
        </div>

        <div class="right-section">
            <div class="login-box">
                <h2>Reset Your Password</h2>
                <p>Enter registered email to get password reset instructions.</p>
                <div id="invalid_email" class="error-msg"></div>
                <form method="post">
                {% csrf_token %}
                {% include 'partials/_messages.html' %}
                    <input type="email" name="email" id="id_email" placeholder="Registered Email Address" required>
                    <button type="submit" id="reset-button">Reset Password</button>
                </form>
            </div>
        </div>

    </div>
</body>
<script>
const emailField = document.getElementById('id_email');
const feedBackAreaEmail = document.getElementById("invalid_email");
const resetbtn = document.getElementById("reset-button");
emailField.addEventListener("keyup", (e) => {

    const emailVal = e.target.value;

    // emailField.classList.remove("is-invalid");
    // emailFeedBackArea.style.display = "none";

    if (emailVal.length > 0) {
        fetch("/validate-reset-email", {
            body: JSON.stringify({ email: emailVal }),
            method: "POST",
        })
            .then((res) => res.json())
            .then((data) => {
                console.log("data", data);
                if (data.email_error) {
                    emailField.classList.add("is-invalid");
                    feedBackAreaEmail.classList.add("show");
                    feedBackAreaEmail.innerHTML = `<p>${data.email_error}</p>`;
                    resetbtn.disabled = true;
                } else {
                    emailField.classList.remove("is-invalid");
                    feedBackAreaEmail.classList.remove("show");
                    resetbtn.removeAttribute('disabled');
                }
            });
    }
})

</script>
</html>