{% extends 'base_auth.html' %}
{% block title %}Register{% endblock %}
{% load static %}
{% block content %}
<div class="card card-large">
    <h2>Register</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% include 'partials/_messages.html' %}

        <input type="text" name="username" id="usernameField" placeholder="User Name" value="{{fieldValues.username}}">
        <div class="invalid_feedback invalid-feedback" style="display: none;"></div>
        <input type="email" name="email" id="emailField" placeholder="Email" value="{{fieldValues.email}}">
        <div class="emailFeedBackArea invalid-feedback" style="display: none;"></div>
        <input type="password" name="password" id="passwordField" placeholder="Password">
        
        <div class="pw-toggle">
            <small class="showPasswordToggle">SHOW</small>
        </div>
        <input type="submit" value="Register" class="button submit-btn">
    
    </form>
</div>

<script src="{% static 'js/register.js' %}"></script>


{% endblock content %}