{% extends 'base.html' %}
{% block title %}Automate Lead Generation{% endblock title %}
{% load static %}
{% load custom_filters %}
{% block scripts %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}
{% block content%}

{% comment %} <link href="{% static 'css/client_interface.css' %}" rel="stylesheet"> {% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/automate.css' %}" rel="stylesheet">
<div class="highlighted">
    <h2>⚙️ Automation Settings</h2>
    <div class="automate-section" id="automation" data-automation-id="{{ automation.id }}" {% if automation.status == "closed" %} style="opacity:.5;" {% endif %}>
        
        <div class="container">
            <div>
                <h5>Renew Options</h5>
                <div class="setting-item ">
                    <label>
                        <input type="checkbox" id="auto-renew-toggle"
                            {% if automation.auto_renew %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
                        Renew Automatically
                    </label>
                </div>

                <div class="setting-item">
                    <label>
                        <input type="checkbox" id="renew-expired-toggle"
                            {% if automation.renew_when_expired %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
                        Renew When Expired
                    </label>
                </div>

                <div class="setting-item">
                    <label>
                        <input type="checkbox" id="renew-limit-toggle"
                            {% if automation.renew_when_limit %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
                        Renew When Lead Limit Reaches
                    </label>
                </div>
            </div>
            <div>
                
                <h5>Update Interval</h5>
                <label>
                    <input type="checkbox" checked disabled>
                    {{automation.update_interval}}
                </label>

            </div>
            <div>
                <h5>Current Plan ( {{automation.get_status_display}} )</h5>
                <label>
                    <input type="checkbox" checked disabled>
                    {{automation.subscription.name}} / ${{automation.price_amount}}
                </label>
                <h5>Expiration</h5>
                <label>
                    <input type="checkbox" checked disabled>
                    {{automation.expiration|date:"m/d/Y"}}
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="automation-buttons">
        <button class="btn-stop-automation other-btn"
                data-subscription-id="{{ automation.enrolled_stripe_subscrption }}"
                {% if automation.status == "closed" %}disabled{% endif %}
                {% if automation.status == "closed" %} style="opacity:.7;" {% endif %}>
                {% if automation.status == "closed" %}Automation Stopped{% else %}❌ Stop Automation{% endif %}

        </button>
        {% if automation.status == "closed" %}
        <form method="POST" action="{% url "automate" %}">
            {% csrf_token %}
            <button type="submit" class="other-btn" style="background-color:#00588f">Set up new Automation</button>
        </form>
        {% endif %}
    </div>
    
</div>
<div class="automate-section" data-id="{{ automation.id }}"{% if automation.status == "closed" %} style="opacity:.5;" {% endif %}>
    <h5>Select States from Active Coverage</h5>
    <div class="state-container">
        {% for s in states %}
        <div class="state">
            <input type="checkbox" value="{{s.state|upper}}" onchange="toggleState(this)"{% if s.state|upper in automation.states %}checked{% endif %}{% if automation.status == "closed" %}disabled{% endif %}>
            <label>{{s.state}}</label>
            
        </div>
        {% endfor %}
    </div>
    <div class="option-container">
        <div class="option">
            <h5>Foreclosure Type</h5>
            <input type="checkbox" value="tax" onchange="updateAutomationField('tax', this.checked)"{% if automation.tax %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>Tax Foreclosure</label></br>
            <input type="checkbox" value="mortgage" onchange="updateAutomationField('mortgage', this.checked)"{% if automation.mortgage %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>Mortgage Foreclosure</label>
        </div>
        <div class="option">
            <h5>Surplus Type</h5>
            <input type="checkbox" value="fund available" onchange="updateAutomationField('verified', this.checked)"{% if automation.verified %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>Verified (Court Record)</label></br>
            <input type="checkbox" value="possible surplus" onchange="updateAutomationField('postforeclosure', this.checked)"{% if automation.postforeclosure %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>Approximate (Calculated)</label>
        </div>
        
        <div class="option">
            <h5>Minimum Surplus</h5>
            <input type="radio" id="fifteen" value="15000" name="min-surplus" onchange="updateAutomationField('surplus_capped', this.value)" {% if automation.surplus_capped == 15000 %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>$15,000.00</label></br>
            <input type="radio" id="thirty" value="30000" name="min-surplus" onchange="updateAutomationField('surplus_capped', this.value)" {% if automation.surplus_capped == 30000 %}checked{% endif %} {% if automation.status == "closed" %}disabled{% endif %}>
            <label>$30,000.00</label>
        </div>
    </div>
</div>
{% if automation.postforeclosure %}
<div class="highlighted" style="max-height:700px;">
    <h2>⭐⭐ Post Foreclosure Delivery Treshold - (<span id="post-selected-count">{{automation.post_f_to_deliver.count}}</span> of {{post_f_qs.count}})</h2>
    <div class="table-wrapper">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" disabled></th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>State</th>
                    <th>County</th>
                    <th>Case Number</th>
                    <th>Surplus</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for post_f in post_f_qs %}
                <tr {% if post_f.in_delivery %}class="highlight-row"{% endif %}>
                    <td><input type="checkbox" class="post-deliver-checkbox" data-id="{{ post_f.id }}" {% if post_f.in_delivery %}checked{% endif %}></td>
                    <td>{{post_f.created_at|date:"m/d/Y"}}</td>
                    <td>{{post_f.changed_at|date:"m/d/Y"}}</td>
                    <td>{{post_f.state}}</td>
                    <td>{{post_f.county}}</td>
                    <td>{{post_f.sale_date}}</td>
                    <td>{{post_f.case_number}}</td>
                    <td>{% if post_f.verified_surplus and not post_f.verified_surplus == 0 %}V {{post_f.verified_surplus|currency}}{% else %}P {{post_f.possible_surplus|currency}}{% endif %}</td>
                    <td>{{post_f.get_surplus_status_display}}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="automation-buttons">
        <button class="other-btn" style="background-color:#00588f" onclick="DownloadAtmData(this, 'post_f', {{automation.id}})" {% if automation.post_f_to_deliver.count < 1 %}disabled{% endif %}>Download</button>
        <button class="other-btn" style="background-color:#ab0000">Deliver</button>
    </div>
</div>
{% endif %}

{% if automation.verified %}

<div class="highlighted" style="max-height:700px;">
    <h2>⭐⭐⭐ Verified Surplus Delivery Treshold - (<span id="verified-selected-count">{{automation.verified_s_to_deliver.count}}</span> of {{verified_s_qs.count}})</h2>
    <div class="table-wrapper">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" disabled></th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>State</th>
                    <th>County</th>
                    <th>Case Number</th>
                    <th>Surplus</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for verified_s in verified_s_qs %}
                <tr {% if verified_s.in_delivery %}class="highlight-row"{% endif %}>
                    <td><input type="checkbox" class="verified-deliver-checkbox" data-id="{{ verified_s.id }}" {% if verified_s.in_delivery %}checked{% endif %}></td>
                    <td>{{verified_s.created_at|date:"m/d/Y"}}</td>
                    <td>{{verified_s.changed_at|date:"m/d/Y"}}</td>
                    <td>{{verified_s.state}}</td>
                    <td>{{verified_s.county}}</td>
                    <td>{{verified_s.sale_date}}</td>
                    <td>{{verified_s.case_number}}</td>
                    <td>{% if verified_s.verified_surplus and not verified_s.verified_surplus == 0 %}V {{verified_s.verified_surplus|currency}}{% else %}P {{verified_s.possible_surplus|currency}}{% endif %}</td>
                    <td>{{verified_s.get_surplus_status_display}}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="automation-buttons">
        <button id="download-verified-s" class="other-btn" style="background-color:#00588f" onclick="DownloadAtmData(this, 'verified_s', {{automation.id}})" {% if automation.verified_s_to_deliver.count < 1 %}disabled{% endif %}>Download</button>
        <button class="other-btn" style="background-color:#ab0000">Deliver</button>
    </div>
</div>

{% endif %}

<script>
function DownloadAtmData(button, field, atm){
    const btn = button;
    // disable button and change opacity
    btn.disabled = true;
    btn.style.opacity = 0.2;
    // construct URL with query parameters
    const url = `{% url 'download_automation_leads' %}?automation_id=${atm}&data_field=${field}`;
    // trigger download
    window.location.href = url;
    setTimeout(() => {
        btn.disabled = false;
        btn.style.opacity = 1;
    }, 2000); // 2 seconds, adjust if needed
}
const automationId = {{ automation.id }};
document.querySelectorAll(".post-deliver-checkbox").forEach(function(box){

    box.addEventListener("change", function(){
        const row = this.closest("tr");
        const foreclosureId = this.dataset.id
        const checked = this.checked
        fetch("{% url 'toggle_post_delivery' %}", {

            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },

            body: JSON.stringify({
                automation_id:automationId,
                foreclosure_id: foreclosureId,
                checked: checked
            })

        })
        .then(res => res.json())
        .then(data => {
            if(data.success){
                if(checked){
                    row.classList.add("highlight-row");
                }else{
                    row.classList.remove("highlight-row");
                }
                //update counter
                document.getElementById("post-selected-count").textContent = data.count;
            }else{
                alert("Something went wrong");
                // revert checkbox state
                this.checked = !checked;
            }
        });

    });

});

document.querySelectorAll(".verified-deliver-checkbox").forEach(function(box){

    box.addEventListener("change", function(){
        const row = this.closest("tr");
        const foreclosureId = this.dataset.id
        const checked = this.checked
        
        fetch("{% url 'toggle_verified_delivery' %}", {

            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },

            body: JSON.stringify({
                automation_id:automationId,
                foreclosure_id: foreclosureId,
                checked: checked
            })

        })
        .then(res => res.json())
        .then(data => {
            if(data.success){
                if(checked){
                    row.classList.add("highlight-row");
                }else{
                    row.classList.remove("highlight-row");
                }
                //update counter
                document.getElementById("verified-selected-count").textContent = data.count;
                if(data.count !== "0"){
                    document.getElementById("download-verified-s").disabled = false;
                }
            }else{
                alert("Something went wrong");
                // revert checkbox state
                this.checked = !checked;
            }
        });

    });

});

</script>

<script>
    function updateSetting(field, value) {
        fetch("/Automation/manage_automation/update-setting/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({
                field: field,
                value: value
            })
        });
    }
    document.getElementById("auto-renew-toggle").addEventListener("change", function () {
        updateSetting("auto_renew", this.checked);
    });

    document.getElementById("renew-expired-toggle").addEventListener("change", function () {
        updateSetting("renew_when_expired", this.checked);
    });

    document.getElementById("renew-limit-toggle").addEventListener("change", function () {
        updateSetting("renew_when_limit", this.checked);
    });

    document.querySelector(".btn-stop-automation").addEventListener("click", async function () {
        if (!confirm("Are you sure you want to stop this automation?")) return;

        const subscriptionId = this.dataset.subscriptionId;

        const response = await fetch("/Automation/manage_automation/stop/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ subscription_id: subscriptionId })
        });

        const data = await response.json();

        if (data.success) {
            alert("Automation stopped successfully.");
            location.reload();
        } else {
            alert("Something went wrong.");
        }
    });
</script>

<script src="{% static 'js/automate.js' %}"></script>
{% endblock content%}