{% extends 'base.html' %}
{% block title %}Automate Lead Generation{% endblock title %}
{% load static %}
{% load custom_filters %}
{% block scripts %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}
{% block content%}
{% comment %} <link href="{% static 'css/client_interface.css' %}" rel="stylesheet"> {% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/automate.css' %}" rel="stylesheet">
{% if active_automation %}
<div class="highlighted">
<h1>Manage Active Automations</h1>
<div class="container">
    {% for active in active_automation%}
    <div class="grid" data-id="{{ active.id }}">
        <h6>{{active.name}}</h6>
        <div class="h-row"><strong>Sale Type:</strong> {% if active.tax %}<span>Tax</span>{% endif %} {% if active.mortgage %}<span>Mortgage</span>{% endif %}</div>
        <div class="h-row"><strong>Surplus:</strong> {% if active.postforeclosure %}<span>Post Foreclosure</span>{% endif %} {% if active.verified %}<span>Verified</span>{% endif %}</div>
        <div class="h-row"><strong>Validity:</strong> <span>{{active.expiration|date:"m/d/Y"}}</span></div>
        <div class="h-row"><strong>Update Interval:</strong> <span>{{active.update_interval}}</span></div>
        <form method="POST" action="{% url "manage_automation" %}">
        {% csrf_token %}
            <input type="hidden" name="automation_id" value="{{ active.id }}">
            <button type="submit">Manage</button>
        </form>
    </div>
    
    {% endfor %}
</div>
</div>
{% endif %}


<h1>Set up a new automation for your surplus lead generation</h1><br><br>
<div class="automate-section" data-id="{{ automation.id }}">
    <h5>Select States from Active Coverage</h5>
    <div class="state-container">
        {% for s in states %}
        <div class="state">
            <input type="checkbox" value="{{s.state|upper}}" onchange="toggleState(this)"{% if s.state|upper in automation.states %}checked{% endif %}>
            <label>{{s.state}}</label>
            
        </div>
        {% endfor %}
    </div>
    <div class="option-container">
        <div class="option">
            <h5>Foreclosure Type</h5>
            <input type="checkbox" value="tax" onchange="updateAutomationField('tax', this.checked)"{% if automation.tax %}checked{% endif %}>
            <label>Tax Foreclosure</label></br>
            <input type="checkbox" value="mortgage" onchange="updateAutomationField('mortgage', this.checked)"{% if automation.mortgage %}checked{% endif %}>
            <label>Mortgage Foreclosure</label>
        </div>
        <div class="option">
            <h5>Surplus Type</h5>
            <input type="checkbox" value="fund available" onchange="updateAutomationField('verified', this.checked)"{% if automation.verified %}checked{% endif %}>
            <label>Verified (Court Record)</label></br>
            <input type="checkbox" value="possible surplus" onchange="updateAutomationField('postforeclosure', this.checked)"{% if automation.postforeclosure %}checked{% endif %}>
            <label>Approximate (Calculated)</label>
        </div>
        <div class="option">
            <h5>Minimum Surplus</h5>
            <input type="radio" id="fifteen" value="15000" name="min-surplus" onchange="updateAutomationField('surplus_capped', this.value)" {% if automation.surplus_capped == 15000 %}checked{% endif %}>
            <label>$15,000.00</label></br>
            <input type="radio" id="thirty" value="30000" name="min-surplus" onchange="updateAutomationField('surplus_capped', this.value)" {% if automation.surplus_capped == 30000 %}checked{% endif %}>
            <label>$30,000.00</label>
        </div>

    </div>
    {% if not automation.status == "active" %}
    <div class="payment-container">
        <label class="payment-option">
            <input type="radio" id="starter" name="num-leads" value="{{p_Starter.id}}" onchange="updateSubscription(this.value, this.checked)"{% if automation.subscription.name == "Starter" %}checked{% endif %}>
            <h5 style="display:inline-flex">Starter</h5></br>
            <span><strong>Number of Leads:</strong> 100</span></br>
            <span><strong>Duration:</strong> 1 Month (Max)</span></br>
            <span><strong>Price:</strong> $50</span>
        </label>
        <label class="payment-option">
            <input type="radio" id="growth" name="num-leads" value="{{p_Growth.id}}" onchange="updateSubscription(this.value, this.checked)"{% if automation.subscription.name == "Growth" %}checked{% endif %}>
            <h5 style="display:inline-flex">Growth</h5></br>
            <span><strong>Number of Leads:</strong> 500</span></br>
            <span><strong>Duration:</strong> 2-3 Month (Max)</span></br>
            <span><strong>Price:</strong> $199</span>
        </label>
        <label class="payment-option">
            <input type="radio" id="professional" name="num-leads" value="{{p_Professional.id}}" onchange="updateSubscription(this.value, this.checked)" {% if automation.subscription.name == "Professional" %}checked{% endif %}>
            <h5 style="display:inline-flex">Professional</h5></br>
            <span><strong>Number of Leads:</strong> 1000</span></br>
            <span><strong>Duration:</strong> 3-6 Month (Max)</span></br>
            <span><strong>Price:</strong> $330</span>
        </label>
        <label class="payment-option">
            <input type="radio" id="ultimate" name="num-leads" value="{{p_Ultimate.id}}" onchange="updateSubscription(this.value, this.checked)"{% if automation.subscription.name == "Ultimate" %}checked{% endif %}>
            <h5 style="display:inline-flex">Ultimate</h5></br>
            <span><strong>Number of Leads:</strong> 5000+</span></br>
            <span><strong>Duration:</strong> Yearly</span></br>
            <span><strong>Price:</strong> $999</span>
        </label>

    </div>
    <div style="margin-bottom:20px">
        <button id="startAutomationBtn" class="enroll-btn" data-plan-id="{{ automation.id }}" data-price-id="{{ automation.subscription.price_id }}" data-plan-name="{{ automation.name }}" data-price="{{ automation.price_amount }}">Pay and Automate</button>
    </div>
    {% endif %}   
</div>
<div id="subscriptionModal" class="modal-overlay" style="display:none;">
    <div class="modal-card">

        <div class="modal-header">
            <h3>Confirm Subscription</h3>
            <span class="close-btn" onclick="closeModal()">×</span>
        </div>

        <div class="modal-body">

            <div class="plan-summary">
                <h4 id="modalPlanName"></h4>
                <p id="modalPlanPrice"></p>
            </div>

            <div id="payment-methods"></div>

            <div id="card-wrapper" style="display:none;">
                <label>Card Details</label>
                <div id="card-element"></div>
            </div>
            
            <div id="modal-error" class="error-box"></div>

        </div>

        <div class="modal-footer">
            <button class="btn-cancel" onclick="closeModal()">Cancel</button>
            <button class="btn-confirm" id="confirmSubscription">
                Confirm & Subscribe
            </button>
        </div>

    </div>
</div>

<script>
    const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

    let selectedPriceId = null;
    let elements;
    let cardElement;
    let setupClientSecret = null;

    // Toggle card input when user selects payment method
    document.addEventListener("change", function(e) {
        if (e.target.name === "payment_method") {
            if (e.target.value === "new") {
                document.getElementById("card-wrapper").style.display = "block";
            } else {
                document.getElementById("card-wrapper").style.display = "none";
            }
        }
    });


    function openModal() {
        document.getElementById("subscriptionModal").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("subscriptionModal").style.display = "none";
    }

    function showError(message) {
        const box = document.getElementById("modal-error");
        box.style.display = "block";
        box.innerText = message;
    }

    document.querySelectorAll(".enroll-btn").forEach(btn => {
        btn.addEventListener("click", async function() {
            let planID = this.dataset.planId
            let finalPriceId
            let planName
            let planDescription
            const getPriceIds = await fetch(`get-prices/?plan_id=${planID}`);
            const PriceData = await getPriceIds.json();


            //let basePriceId = this.dataset.priceId;
            //let finalPriceId = basePriceId;
            //const installmentResponse = await fetch(`check-installments/?price_id=${basePriceId}`);
            //const installmentData = await installmentResponse.json();
            //console.log("Installment data:", installmentData);
            //console.log("Has installments?", installmentData.has_installments);


            if (PriceData.has_installments) {
                console.log("Entering installment block");
                // Show installment selection modal/dialog
                const selectedInstallment = await showInstallmentDialog(PriceData.options);

                if (!selectedInstallment) {
                    return; // user cancelled
                }

                finalPriceId = selectedInstallment.price_id; // override
                planName = selectedInstallment.name;
                planDescription = selectedInstallment.description;
            } else {
                finalPriceId = PriceData.no_installment_price_id;
                planName = PriceData.planName;
                planDescription = PriceData.planDescription;
            }
            selectedPriceId = finalPriceId;

            document.getElementById("modalPlanName").innerText = planName;
            document.getElementById("modalPlanPrice").innerText = planDescription;
            openModal();

            const response = await fetch("{% url 'get_payment_option' %}");
            const data = await response.json();

            document.getElementById("payment-methods").innerHTML = data.html;

            setupClientSecret = data.setup_intent;

            elements = stripe.elements();
            cardElement = elements.create("card");
            cardElement.mount("#card-element");
        });
    });
    function showInstallmentDialog(options) {
        return new Promise((resolve) => {

            // Create overlay
            const overlay = document.createElement("div");
            overlay.style.position = "fixed";
            overlay.style.top = "0";
            overlay.style.left = "0";
            overlay.style.width = "100%";
            overlay.style.height = "100%";
            overlay.style.background = "rgba(0,0,0,0.5)";
            overlay.style.display = "flex";
            overlay.style.alignItems = "center";
            overlay.style.justifyContent = "center";
            overlay.style.zIndex = "9999";

            // Create box
            const box = document.createElement("div");
            box.style.background = "#fff";
            box.style.padding = "20px";
            box.style.borderRadius = "8px";
            box.style.width = "350px";

            let html = "<h4>Select Payment Option</h4>";

            options.forEach(opt => {
                html += `
                    <label style="display:block; margin-bottom:8px;">
                        <input type="radio" name="installment_choice"
                        value="${opt.price_id}"
                        data-id="${opt.id}"
                        data-name="${opt.planName}"
                        data-description="${opt.planDescription}">
                        ${opt.label}
                    </label>
                `;
            });

            html += `
                <button id="installConfirm" style="margin-top:10px;">Continue</button>
                <button id="installCancel" style="margin-left:10px;">Cancel</button>
            `;

            box.innerHTML = html;
            overlay.appendChild(box);
            document.body.appendChild(overlay);

            document.getElementById("installConfirm").onclick = function () {
                const selected = document.querySelector("input[name='installment_choice']:checked");
                if (!selected) {
                    resolve(null);
                    return;
                }
                updateSubscription(selected.dataset.id, true);
                const planName = selected.dataset.name;
                const planDescription = selected.dataset.description;
                document.body.removeChild(overlay);
                //resolve(selected ? selected.value : null);
                resolve({
                    price_id: selected.value,
                    name: planName,
                    description:planDescription,
                });
            };

            document.getElementById("installCancel").onclick = function () {
                document.body.removeChild(overlay);
                resolve(null);
            };
        });
    }

    document.getElementById("confirmSubscription")
    .addEventListener("click", async function() {

        document.getElementById("modal-error").style.display = "none";

        const selected = document.querySelector(
            'input[name="payment_method"]:checked'
        );

        if (!selected) {
            showError("Please select a payment method.");
            return;
        }

        let paymentMethodId;

        if (selected.value === "new") {

            const result = await stripe.confirmCardSetup(
                setupClientSecret,
                {
                    payment_method: { card: cardElement }
                }
            );

            if (result.error) {
                showError(result.error.message);
                return;
            }

            paymentMethodId = result.setupIntent.payment_method;

        } else {
            paymentMethodId = selected.value;
        }

        const response = await fetch("{% url 'create_automation' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({
                price_id: selectedPriceId,
                payment_method_id: paymentMethodId,
                
            })
        });

        const data = await response.json();

        if (data.requires_action) {

            const result = await stripe.confirmCardPayment(
                data.client_secret
            );

            if (result.error) {
                showError(result.error.message);
                return;
            }

            location.reload();

        } else if (data.success) {
            location.reload();
        } else {
            showError(data.error);
        }
    });

</script>
<script src="{% static 'js/automate.js' %}"></script>
{% endblock content%}